templates/AI seller consultant/flow.json
[
    {
        "id": "ca583f1ec0f09687",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d6c09d8078c48c9",
        "type": "group",
        "z": "ca583f1ec0f09687",
        "style": {
            "stroke": "#3e404a",
            "stroke-opacity": "1",
            "fill": "#21222c",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#f8f8f2"
        },
        "nodes": [
            "15ea30ca8b91e590",
            "cf6eb92ecdf5890e",
            "7ddfec4fd1ccdba8",
            "091c84d948ee2183",
            "f724d46336a12691",
            "37b572aa01648314",
            "d43ceaadf569133c",
            "167d9a9c76cf8959",
            "f8bcbfec1d043c1f",
            "cbdebb0359f5a387"
        ],
        "x": 14,
        "y": 119,
        "w": 1332,
        "h": 382
    },
    {
        "id": "15ea30ca8b91e590",
        "type": "ai-model",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "My AI Model",
        "model": "microsoft/mai-ds-r1:free",
        "temperature": 0.7,
        "maxTokens": 1000,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "7ddfec4fd1ccdba8"
            ]
        ]
    },
    {
        "id": "cf6eb92ecdf5890e",
        "type": "comment",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "[ACTION] - Configure your OpenRouter API key and model",
        "info": "Go to https://openrouter.ai/ and register/sigin and create a new API KEY",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "7ddfec4fd1ccdba8",
        "type": "ai-agent",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "Ask my AI model",
        "systemPrompt": "You are a helpful AI assistant.",
        "responseType": "text",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "091c84d948ee2183",
                "cbdebb0359f5a387"
            ]
        ]
    },
    {
        "id": "091c84d948ee2183",
        "type": "neuron-p2p",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "",
        "selectedNode": "",
        "description": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "d43ceaadf569133c"
            ]
        ]
    },
    {
        "id": "f724d46336a12691",
        "type": "seller config",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "Consultant Seller Config",
        "deviceRole": "Device role",
        "deviceName": "Device name",
        "smartContract": "chat",
        "serialNumber": "Serial Number",
        "deviceType": "Device Type",
        "price": "1",
        "description": "",
        "evmAddress": "0x1967a5bc55b3bd3541b58a556e2aecee0e4ef055",
        "balance": "5.72 USDC",
        "buyerEvmAddress": [],
        "buyerDevices": [],
        "publicKey": "02a8a44d24a7e0b209481743904f62fe92315a1d7d5bed213b582ea39d074ad920",
        "stdInTopic": "0.0.6614200",
        "stdOutTopic": "0.0.6614201",
        "stdErrTopic": "0.0.6614199",
        "x": 170,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "37b572aa01648314",
        "type": "comment",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "[ACTION] Double click and select \"Consultant Seller Config\"",
        "info": "",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "d43ceaadf569133c",
        "type": "json",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "167d9a9c76cf8959"
            ]
        ]
    },
    {
        "id": "167d9a9c76cf8959",
        "type": "function",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "Extract buyer's question",
        "func": "msg.payload = msg.payload.text;\nmsg.othermessage = true;\nif(!msg.payload){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "15ea30ca8b91e590",
                "f8bcbfec1d043c1f"
            ]
        ]
    },
    {
        "id": "f8bcbfec1d043c1f",
        "type": "ui_template",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "group": "5a98357c2bababf3",
        "name": "Seller Chat UI",
        "order": 0,
        "width": "6",
        "height": "15",
        "format": "<style>\n  .chat-container-alt {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    background-color: #f8f9fa;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);\n    margin-top: 10px;\n  }\n\n  .message-panel-alt {\n    flex-grow: 1;\n    overflow-y: auto;\n    padding: 16px;\n    background-color: #ffffff;\n  }\n\n  .message-alt {\n    max-width: 80%;\n    padding: 10px 14px;\n    margin-bottom: 12px;\n    border-radius: 10px;\n    line-height: 1.4;\n    position: relative;\n    word-wrap: break-word;\n    animation: fadeInAlt 0.3s ease-out;\n    background-color: #e9ecef;\n    color: #212529;\n  }\n\n  .message-alt-other {\n    background-color: #007bff;\n    color: #ffffff;\n  }\n\n  @keyframes fadeInAlt {\n    from {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .timestamp-alt {\n    font-size: 11px;\n    opacity: 0.6;\n    margin-top: 4px;\n    text-align: right;\n  }\n\n  .input-area-alt {\n    display: flex;\n    padding: 12px;\n    background-color: #ffffff;\n    border-top: 1px solid #dee2e6;\n  }\n\n  #chat-input-alt {\n    flex-grow: 1;\n    padding: 10px 14px;\n    border: 1px solid #ced4da;\n    border-radius: 20px;\n    outline: none;\n    font-size: 14px;\n  }\n\n  #chat-input-alt:focus {\n    border-color: #007bff;\n  }\n\n  #send-button-alt {\n    margin-left: 10px;\n    padding: 10px 20px;\n    background-color: #007bff;\n    color: white;\n    border: none;\n    border-radius: 20px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n\n  #send-button-alt:hover {\n    background-color: #0069d9;\n  }\n\n  #send-button-alt:disabled {\n    background-color: #adb5bd;\n    cursor: not-allowed;\n  }\n</style>\n\n<div class=\"chat-container-alt\">\n  <div id=\"message-panel-alt\" class=\"message-panel-alt\"></div>\n  <div class=\"input-area-alt\">\n    <input type=\"text\" id=\"chat-input-alt\" placeholder=\"Type your message...\" autocomplete=\"off\" />\n    <button id=\"send-button-alt\" disabled>Send</button>\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n  const messagePanel = document.getElementById('message-panel-alt');\n  const chatInput = document.getElementById('chat-input-alt');\n  const sendButton = document.getElementById('send-button-alt');\n\n  function formatTimestamp(date = new Date()) {\n    return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n  }\n\n  function scrollToBottom() {\n    messagePanel.scrollTop = messagePanel.scrollHeight;\n  }\n\n  function addMessage(text, isOther = false) {\n    const messageElement = document.createElement('div');\n    messageElement.className = \"message-alt\" + (isOther ? \" message-alt-other\" : \"\");\n    messageElement.innerHTML = `\n      ${text}\n      <div class=\"timestamp-alt\">${formatTimestamp()}</div>\n    `;\n    messagePanel.appendChild(messageElement);\n    scrollToBottom();\n  }\n\n  function updateSendButton() {\n    sendButton.disabled = chatInput.value.trim() === '';\n  }\n\n  function sendMessage() {\n    const messageText = chatInput.value.trim();\n    if (!messageText) return;\n    addMessage(messageText, false); // user messages are default style\n\n    if (typeof scope.send === 'function') {\n      scope.send({ payload: messageText });\n    }\n\n    chatInput.value = '';\n    updateSendButton();\n    chatInput.focus();\n  }\n\n  sendButton.addEventListener('click', sendMessage);\n  chatInput.addEventListener('keypress', e => { if (e.key === 'Enter') sendMessage(); });\n  chatInput.addEventListener('input', updateSendButton);\n\n\n\nscope.$watch('msg', function(msg) {\n  if (!msg) return;\n  try {\n    const text = typeof msg.payload === 'object' \n      ? JSON.stringify(msg.payload) \n      : String(msg.payload);\n\n    const isOther = (msg.othermessage === true || msg.othermessage === \"true\");\n    addMessage(text, isOther);\n  } catch (err) {\n    console.error(\"Error showing message:\", err, msg);\n  }\n});\n\n\n  chatInput.focus();\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "cbdebb0359f5a387",
        "type": "function",
        "z": "ca583f1ec0f09687",
        "g": "6d6c09d8078c48c9",
        "name": "UI formating",
        "func": "\nmsg.othermessage = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 320,
        "wires": [
            [
                "f8bcbfec1d043c1f"
            ]
        ]
    },
    {
        "id": "5a98357c2bababf3",
        "type": "ui_group",
        "name": "Seller",
        "tab": "ef656de5cefe0a4d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef656de5cefe0a4d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]