templates/AI seller consultant/flow.json
[
    {
        "id": "7b1ee736e1a2a0ce",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c064a303fe724e9a",
        "type": "group",
        "z": "7b1ee736e1a2a0ce",
        "style": {
            "stroke": "#3e404a",
            "stroke-opacity": "1",
            "fill": "#21222c",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#f8f8f2"
        },
        "nodes": [
            "fb042bb1c4f61cbc",
            "01598d370cbfe0ea",
            "01d9bdd6c7ec633f",
            "24bfa7e80ae688bf",
            "5a9506cca353ea01",
            "d496cfe7acc6cfe3",
            "7db13aff1a2fca1d",
            "badf24134ed0033a",
            "dacbe82beacf2521",
            "614c218ec79898b6",
            "8cff3076ed0dcb25"
        ],
        "x": 14,
        "y": 119,
        "w": 1332,
        "h": 382
    },
    {
        "id": "fb042bb1c4f61cbc",
        "type": "ai-model",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "My AI Model",
        "model": "microsoft/mai-ds-r1:free",
        "temperature": 0.7,
        "maxTokens": 1000,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "01d9bdd6c7ec633f"
            ]
        ]
    },
    {
        "id": "01598d370cbfe0ea",
        "type": "comment",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "[ACTION] - Configure your OpenRouter API key and model",
        "info": "Go to https://openrouter.ai/ and register/sigin and create a new API KEY",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "01d9bdd6c7ec633f",
        "type": "ai-agent",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "Ask my AI model",
        "systemPrompt": "You are a helpful AI assistant.",
        "responseType": "text",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "24bfa7e80ae688bf",
                "dacbe82beacf2521"
            ]
        ]
    },
    {
        "id": "24bfa7e80ae688bf",
        "type": "neuron-p2p",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "",
        "selectedNode": "",
        "description": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "614c218ec79898b6",
                "19d8a8dd6e781c04"
            ]
        ]
    },
    {
        "id": "5a9506cca353ea01",
        "type": "seller config",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "Consultant Seller Config",
        "deviceRole": "Device role",
        "deviceName": "Device name",
        "smartContract": "chat",
        "serialNumber": "Serial Number",
        "deviceType": "Device Type",
        "price": "1",
        "description": "",
        "evmAddress": "0x2659a4fc1e41643688595b173d667489c32e1c76",
        "balance": "5.70 USDC",
        "buyerEvmAddress": [],
        "buyerDevices": [],
        "publicKey": "026ab434fed77a1d481f7fa95197b384c32b3b28e5ac653612f38c072938de2dc6",
        "stdInTopic": "0.0.6758494",
        "stdOutTopic": "0.0.6758496",
        "stdErrTopic": "0.0.6758495",
        "x": 170,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "d496cfe7acc6cfe3",
        "type": "comment",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "[ACTION] Double click and select \"Consultant Seller Config\"",
        "info": "",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "7db13aff1a2fca1d",
        "type": "function",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "Extract buyer's question",
        "func": "msg.payload = msg.payload.text;\nmsg.othermessage = true;\nif(!msg.payload){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "fb042bb1c4f61cbc",
                "badf24134ed0033a",
                "3c303c4e056101e5"
            ]
        ]
    },
    {
        "id": "badf24134ed0033a",
        "type": "ui_template",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "group": "fa8f3df35e1f5bd2",
        "name": "Seller Chat UI",
        "order": 0,
        "width": "6",
        "height": "15",
        "format": "<style>\n  .chat-container-2 {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    background-color: #f8f9fa;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);\n    margin-top: 10px;\n  }\n\n  .message-panel-2 {\n    flex-grow: 1;\n    overflow-y: auto;\n    padding: 16px;\n    background-color: #ffffff;\n  }\n\n  .message {\n    max-width: 80%;\n    padding: 10px 14px;\n    margin-bottom: 12px;\n    border-radius: 18px;\n    line-height: 1.4;\n    position: relative;\n    word-wrap: break-word;\n    animation: fadeIn 0.3s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .user-message {\n    background-color: #007bff;\n    color: white;\n    margin-left: auto;\n    border-bottom-right-radius: 4px;\n  }\n\n  .other-message {\n    background-color: #e9ecef;\n    color: #212529;\n    margin-right: auto;\n    border-bottom-left-radius: 4px;\n  }\n\n  .system-message {\n    background-color: #fff3cd;\n    color: #856404;\n    margin: 0 auto;\n    text-align: center;\n    border-radius: 8px;\n    max-width: 90%;\n    font-style: italic;\n  }\n\n  .timestamp {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-top: 4px;\n    text-align: right;\n  }\n\n  .input-area {\n    display: flex;\n    padding: 12px;\n    background-color: #ffffff;\n    border-top: 1px solid #dee2e6;\n  }\n\n  #chat-input-2 {\n    flex-grow: 1;\n    padding: 10px 14px;\n    border: 1px solid #ced4da;\n    border-radius: 20px;\n    outline: none;\n    font-size: 14px;\n  }\n\n  #chat-input-2:focus {\n    border-color: #007bff;\n  }\n\n  #send-button-2 {\n    margin-left: 10px;\n    padding: 10px 20px;\n    background-color: #007bff;\n    color: white;\n    border: none;\n    border-radius: 20px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n\n  #send-button-2:hover {\n    background-color: #0069d9;\n  }\n\n  #send-button-2:disabled {\n    background-color: #adb5bd;\n    cursor: not-allowed;\n  }\n\n  .typing-indicator {\n    display: flex;\n    padding: 8px 16px;\n    justify-content: flex-start;\n    gap: 4px;\n  }\n\n  .typing-dot {\n    width: 8px;\n    height: 8px;\n    background-color: #6c757d;\n    border-radius: 50%;\n    animation: typingAnimation 1.4s infinite ease-in-out;\n  }\n\n  .typing-dot:nth-child(1) {\n    animation-delay: 0s;\n  }\n\n  .typing-dot:nth-child(2) {\n    animation-delay: 0.2s;\n  }\n\n  .typing-dot:nth-child(3) {\n    animation-delay: 0.4s;\n  }\n\n  @keyframes typingAnimation {\n\n    0%,\n    60%,\n    100% {\n      transform: translateY(0);\n    }\n\n    30% {\n      transform: translateY(-4px);\n    }\n  }\n</style>\n\n<div class=\"chat-container-2\">\n  <div id=\"message-panel-2\" class=\"message-panel-2\"></div>\n  <div id=\"typing-indicator-2\" class=\"typing-indicator\" style=\"display: none;\">\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n  </div>\n  <div class=\"input-area\">\n    <input type=\"text\" id=\"chat-input-2\" placeholder=\"Type your message...\" autocomplete=\"off\" />\n    <button id=\"send-button-2\" disabled>Send</button>\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n  const state = {\n    messageCount: 0,\n    isTyping: false,\n    pendingMessages: new Set()\n  };\n  \n  const messagePanel = document.getElementById('message-panel-2');\n  const chatInput = document.getElementById('chat-input-2');\n  const sendButton = document.getElementById('send-button-2');\n  const typingIndicator = document.getElementById('typing-indicator-2');\n  \n  function formatTimestamp(date = new Date()) {\n    return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n  }\n  \n  function scrollToBottom() {\n    messagePanel.scrollTop = messagePanel.scrollHeight;\n  }\n  \n  function addMessage(text, sender, timestamp, messageId) {\n    const id = messageId || 'msg-' + state.messageCount++ + '-' + Date.now();\n    \n    if (state.pendingMessages.has(id)) return;\n    state.pendingMessages.add(id);\n    \n    const messageElement = document.createElement('div');\n    messageElement.className = `message ${sender}-message`;\n    messageElement.id = id;\n    messageElement.innerHTML = `\n      ${text}\n      <div class=\"timestamp\">${formatTimestamp(timestamp ? new Date(timestamp) : new Date())}</div>\n    `;\n    \n    messagePanel.appendChild(messageElement);\n    scrollToBottom();\n  }\n  \n  function updateSendButton() {\n    sendButton.disabled = chatInput.value.trim() === '';\n  }\n  \n  function sendMessage() {\n    const messageText = chatInput.value.trim();\n    if (!messageText) return;\n    \n    const timestamp = new Date();\n    const messageId = 'user-msg-2-' + Date.now();\n    \n    addMessage(messageText, 'user', timestamp, messageId);\n    \n    if (typeof scope.send === 'function') {\n      scope.send({ \n        payload: { \n          text: messageText, \n          sender: 'user',\n          timestamp: timestamp.toISOString(),\n          messageId: 'net-' + messageId,\n          instance: 'chat-2',\n          source: 'local'\n        } \n      });\n    }\n    \n    chatInput.value = '';\n    updateSendButton();\n    chatInput.focus();\n  }\n  \n  sendButton.addEventListener('click', sendMessage);\n  \n  chatInput.addEventListener('keypress', function(e) {\n    if (e.key === 'Enter') {\n      sendMessage();\n    }\n  });\n  \n  chatInput.addEventListener('input', updateSendButton);\n  \n  // Handle incoming messages\n  scope.$watch('msg', function(msg) {\n    if (!msg) return;\n    \n    try {\n      // Skip locally originated messages that come back\n      if (msg.payload && msg.payload.source === 'local') return;\n      \n      // Handle typing indicator\n      if (msg.payload && msg.payload.typing !== undefined) {\n        typingIndicator.style.display = msg.payload.typing ? 'flex' : 'none';\n        scrollToBottom();\n        return;\n      }\n      \n      // Process message - handle various formats\n      let messageText = null;\n      let messageSender = 'other';\n      let timestamp = new Date();\n      let messageId = 'other-msg-2-' + Date.now();\n      \n      // Handle payload as string (could be JSON or plain text)\n      if (typeof msg.payload === 'string') {\n        // Try to parse as JSON first\n        try {\n          const parsedPayload = JSON.parse(msg.payload);\n          // If it has a text property, use that\n          if (parsedPayload.text) {\n            messageText = parsedPayload.text;\n            messageSender = parsedPayload.sender === 'user' ? 'user' : 'other';\n            timestamp = parsedPayload.timestamp || new Date();\n            messageId = parsedPayload.messageId || messageId;\n          } else {\n            // If it's JSON but doesn't have a text property, stringify it\n            messageText = JSON.stringify(parsedPayload);\n          }\n        } catch (e) {\n          // If parsing fails, treat it as plain text\n          messageText = msg.payload;\n        }\n      }\n      // Handle payload as object\n      else if (typeof msg.payload === 'object') {\n        // Skip if this is a network echo of our own message\n        if (msg.payload.messageId && msg.payload.messageId.startsWith('net-user-msg-2-')) return;\n        \n        messageId = msg.payload.messageId || messageId;\n        messageText = msg.payload.text || JSON.stringify(msg.payload);\n        messageSender = msg.payload.sender === 'user' ? 'user' : 'other';\n        timestamp = msg.payload.timestamp || new Date();\n      }\n      // Handle other message formats (raw message)\n      else if (msg.payload !== undefined && msg.payload !== null) {\n        messageText = String(msg.payload);\n      }\n      // Handle case where there's no payload but the message itself has content\n      else if (typeof msg === 'string') {\n        messageText = msg;\n      } else if (typeof msg === 'object') {\n        messageText = JSON.stringify(msg);\n      }\n      \n      if (messageText && !state.pendingMessages.has(messageId)) {\n        addMessage(messageText, messageSender, timestamp, messageId);\n      }\n    } catch (error) {\n      console.error(\"Error processing message:\", error, msg);\n      \n      // Display error message\n      const errorId = 'error-msg-2-' + Date.now();\n      addMessage(\"Error displaying message: \" + error.toString(), 'system', new Date(), errorId);\n    }\n  });\n  \n  chatInput.focus();\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "dacbe82beacf2521",
        "type": "function",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "UI formating",
        "func": "\nmsg.othermessage = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 320,
        "wires": [
            [
                "badf24134ed0033a"
            ]
        ]
    },
    {
        "id": "614c218ec79898b6",
        "type": "function",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "Convert to JSON",
        "func": "let payload = msg.payload;\n\n// Filter out unwanted messages\nif (typeof payload === \"string\") {\n    if (payload.startsWith(\"Successfully sent message to peer\") ||\n        payload.includes(\"/multistream/1.0.0\") || \n        payload.includes(\"nrn-nodered/v1\")) {\n        return null; // drop\n    }\n}\n\n// Ensure payload is always an object with a text property\nif (typeof payload === \"string\") {\n    try {\n        payload = JSON.parse(payload);\n    } catch (e) {\n        // If not JSON, wrap in object\n        payload = {text: payload};\n    }\n} else if (typeof payload !== \"object\" || payload === null) {\n    // Handle other types (numbers, booleans, etc.)\n    payload = {text: String(payload)};\n}\n\nmsg.payload = payload;\n\n// Create two outputs\nreturn [msg, {received: payload}];",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 320,
        "wires": [
            [
                "7db13aff1a2fca1d",
                "8cff3076ed0dcb25"
            ],
            [
                "24bfa7e80ae688bf"
            ]
        ]
    },
    {
        "id": "19d8a8dd6e781c04",
        "type": "debug",
        "z": "7b1ee736e1a2a0ce",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 60,
        "wires": []
    },
    {
        "id": "3c303c4e056101e5",
        "type": "debug",
        "z": "7b1ee736e1a2a0ce",
        "name": "ask LLM",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 40,
        "wires": []
    },
    {
        "id": "8cff3076ed0dcb25",
        "type": "debug",
        "z": "7b1ee736e1a2a0ce",
        "g": "c064a303fe724e9a",
        "name": "out 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "fa8f3df35e1f5bd2",
        "type": "ui_group",
        "name": "Seller",
        "tab": "ef656de5cefe0a4d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef656de5cefe0a4d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]