templates/p2p-chat/flow.json
[
    {
        "id": "aa59dc8550b1fe1c",
        "type": "tab",
        "label": "p2p-chat",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bf244cb4977e403d",
        "type": "group",
        "z": "aa59dc8550b1fe1c",
        "style": {
            "stroke": "#3e404a",
            "stroke-opacity": "1",
            "fill": "#21222c",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#f8f8f2"
        },
        "nodes": [
            "daabcf8562980162",
            "40dbf44f5945e2fc",
            "ac4bb7face9b1fb3",
            "225be21053d2c075",
            "02c2ed95488fe362"
        ],
        "x": 74,
        "y": 99,
        "w": 912,
        "h": 122
    },
    {
        "id": "daabcf8562980162",
        "type": "debug",
        "z": "aa59dc8550b1fe1c",
        "g": "bf244cb4977e403d",
        "name": "seller node",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "40dbf44f5945e2fc",
        "type": "ui_template",
        "z": "aa59dc8550b1fe1c",
        "g": "bf244cb4977e403d",
        "group": "60fa8ea37cbfae89",
        "name": "Seller Chat UI",
        "order": 0,
        "width": "6",
        "height": "15",
        "format": "<style>\n  .chat-container-2 {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    background-color: #f8f9fa;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);\n    margin-top: 10px;\n  }\n\n  .message-panel-2 {\n    flex-grow: 1;\n    overflow-y: auto;\n    padding: 16px;\n    background-color: #ffffff;\n  }\n\n  .message {\n    max-width: 80%;\n    padding: 10px 14px;\n    margin-bottom: 12px;\n    border-radius: 18px;\n    line-height: 1.4;\n    position: relative;\n    word-wrap: break-word;\n    animation: fadeIn 0.3s ease-out;\n  }\n\n  @keyframes fadeIn {\n    from {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .user-message {\n    background-color: #007bff;\n    color: white;\n    margin-left: auto;\n    border-bottom-right-radius: 4px;\n  }\n\n  .other-message {\n    background-color: #e9ecef;\n    color: #212529;\n    margin-right: auto;\n    border-bottom-left-radius: 4px;\n  }\n\n  .timestamp {\n    font-size: 11px;\n    opacity: 0.8;\n    margin-top: 4px;\n    text-align: right;\n  }\n\n  .input-area {\n    display: flex;\n    padding: 12px;\n    background-color: #ffffff;\n    border-top: 1px solid #dee2e6;\n  }\n\n  #chat-input-2 {\n    flex-grow: 1;\n    padding: 10px 14px;\n    border: 1px solid #ced4da;\n    border-radius: 20px;\n    outline: none;\n    font-size: 14px;\n  }\n\n  #chat-input-2:focus {\n    border-color: #007bff;\n  }\n\n  #send-button-2 {\n    margin-left: 10px;\n    padding: 10px 20px;\n    background-color: #007bff;\n    color: white;\n    border: none;\n    border-radius: 20px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n\n  #send-button-2:hover {\n    background-color: #0069d9;\n  }\n\n  #send-button-2:disabled {\n    background-color: #adb5bd;\n    cursor: not-allowed;\n  }\n\n  .typing-indicator {\n    display: flex;\n    padding: 8px 16px;\n    justify-content: flex-start;\n    gap: 4px;\n  }\n\n  .typing-dot {\n    width: 8px;\n    height: 8px;\n    background-color: #6c757d;\n    border-radius: 50%;\n    animation: typingAnimation 1.4s infinite ease-in-out;\n  }\n\n  .typing-dot:nth-child(1) {\n    animation-delay: 0s;\n  }\n\n  .typing-dot:nth-child(2) {\n    animation-delay: 0.2s;\n  }\n\n  .typing-dot:nth-child(3) {\n    animation-delay: 0.4s;\n  }\n\n  @keyframes typingAnimation {\n\n    0%,\n    60%,\n    100% {\n      transform: translateY(0);\n    }\n\n    30% {\n      transform: translateY(-4px);\n    }\n  }\n</style>\n\n<div class=\"chat-container-2\">\n  <div id=\"message-panel-2\" class=\"message-panel-2\"></div>\n  <div id=\"typing-indicator-2\" class=\"typing-indicator\" style=\"display: none;\">\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n    <div class=\"typing-dot\"></div>\n  </div>\n  <div class=\"input-area\">\n    <input type=\"text\" id=\"chat-input-2\" placeholder=\"Type your message...\" autocomplete=\"off\" />\n    <button id=\"send-button-2\" disabled>Send</button>\n  </div>\n</div>\n<script>\n  (function(scope) {\n  const state = {\n    messageCount: 0,\n    isTyping: false,\n    pendingMessages: new Set()\n  };\n  \n  const messagePanel = document.getElementById('message-panel-2');\n  const chatInput = document.getElementById('chat-input-2');\n  const sendButton = document.getElementById('send-button-2');\n  const typingIndicator = document.getElementById('typing-indicator-2');\n  \n  function formatTimestamp(date = new Date()) {\n    return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n  }\n  \n  function scrollToBottom() {\n    messagePanel.scrollTop = messagePanel.scrollHeight;\n  }\n  \n  function addMessage(text, sender, timestamp, messageId) {\n    const id = messageId || 'msg-' + state.messageCount++ + '-' + Date.now();\n    \n    if (state.pendingMessages.has(id)) return;\n    state.pendingMessages.add(id);\n    \n    const messageElement = document.createElement('div');\n    messageElement.className = `message ${sender}-message`;\n    messageElement.id = id;\n    messageElement.innerHTML = `\n      ${text}\n      <div class=\"timestamp\">${formatTimestamp(timestamp ? new Date(timestamp) : new Date())}</div>\n    `;\n    \n    messagePanel.appendChild(messageElement);\n    scrollToBottom();\n  }\n  \n  function updateSendButton() {\n    sendButton.disabled = chatInput.value.trim() === '';\n  }\n  \n  function sendMessage() {\n    const messageText = chatInput.value.trim();\n    if (!messageText) return;\n    \n    const timestamp = new Date();\n    const messageId = 'user-msg-2-' + Date.now();\n    \n    addMessage(messageText, 'user', timestamp, messageId);\n    \n    if (typeof scope.send === 'function') {\n      scope.send({ \n        payload: { \n          text: messageText, \n          sender: 'user',\n          timestamp: timestamp.toISOString(),\n          messageId: 'net-' + messageId,\n          instance: 'chat-2',\n          source: 'local'\n        } \n      });\n    }\n    \n    chatInput.value = '';\n    updateSendButton();\n    chatInput.focus();\n  }\n  \n  sendButton.addEventListener('click', sendMessage);\n  \n  chatInput.addEventListener('keypress', function(e) {\n    if (e.key === 'Enter') {\n      sendMessage();\n    }\n  });\n  \n  chatInput.addEventListener('input', updateSendButton);\n  \n  // Handle incoming messages\n  scope.$watch('msg', function(msg) {\n    if (!msg || !msg.payload) return;\n    \n    try {\n      if (msg.payload.source === 'local') return;\n      \n      if (msg.payload.typing !== undefined) {\n        typingIndicator.style.display = msg.payload.typing ? 'flex' : 'none';\n        scrollToBottom();\n        return;\n      }\n      \n      let messageText = null;\n      let messageSender = 'other';\n      let timestamp = msg.payload.timestamp || new Date();\n      let messageId = msg.payload.messageId || 'other-msg-2-' + Date.now();\n      \n      if (typeof msg.payload === 'string') {\n        // Attempt to parse as JSON first\n        try {\n          const parsedPayload = JSON.parse(msg.payload);\n          // If parsing is successful and it has a 'text' key, use that\n          if (parsedPayload.text) {\n            messageText = parsedPayload.text;\n          }\n        } catch (e) {\n          // If parsing fails, treat it as a plain string message\n          // Check for publicKey to confirm it's from another party\n          if (msg.publicKey) {\n            messageText = msg.payload;\n          }\n        }\n      } else if (typeof msg.payload === 'object' && msg.payload.text) {\n        // Skip network echoes of our own messages\n        if (msg.payload.messageId && msg.payload.messageId.startsWith('net-user-msg-2-')) return;\n        \n        messageId = msg.payload.messageId || 'other-msg-2-' + Date.now();\n        messageText = msg.payload.text;\n        messageSender = msg.payload.sender === 'user' ? 'user' : 'other';\n      }\n      \n      if (messageText && !state.pendingMessages.has(messageId)) {\n        addMessage(messageText, messageSender, timestamp, messageId);\n      }\n    } catch (error) {\n      console.error(\"Error processing message:\", error);\n    }\n  });\n  \n  chatInput.focus();\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 180,
        "y": 180,
        "wires": [
            [
                "02c2ed95488fe362"
            ]
        ]
    },
    {
        "id": "ac4bb7face9b1fb3",
        "type": "comment",
        "z": "aa59dc8550b1fe1c",
        "g": "bf244cb4977e403d",
        "name": "[ACTION] - Double click and select \"Chat Seller Config\"\"",
        "info": "",
        "x": 550,
        "y": 140,
        "wires": []
    },
    {
        "id": "225be21053d2c075",
        "type": "seller config",
        "z": "aa59dc8550b1fe1c",
        "g": "bf244cb4977e403d",
        "name": "Chat Seller Config",
        "deviceRole": "AI",
        "deviceName": "seller",
        "smartContract": "chat",
        "serialNumber": "serial",
        "deviceType": "type",
        "price": "1",
        "description": "",
        "evmAddress": "0xa16c83c737aa89b321a5a22fabeec09de5d33a7d",
        "balance": "5.69 USDC",
        "buyerEvmAddress": [],
        "buyerDevices": [],
        "publicKey": "03dab1de5f282bd2ed13e30374a6061f49a64021f0a9f83a1c2b25b71a8aea04cf",
        "stdInTopic": "0.0.6758113",
        "stdOutTopic": "0.0.6758111",
        "stdErrTopic": "0.0.6758112",
        "x": 190,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "02c2ed95488fe362",
        "type": "neuron-p2p",
        "z": "aa59dc8550b1fe1c",
        "g": "bf244cb4977e403d",
        "name": "",
        "selectedNode": "",
        "description": "",
        "x": 540,
        "y": 180,
        "wires": [
            [
                "daabcf8562980162",
                "40dbf44f5945e2fc"
            ]
        ]
    },
    {
        "id": "60fa8ea37cbfae89",
        "type": "ui_group",
        "name": "Seller",
        "tab": "9f5a4f4e6d6875aa",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "9f5a4f4e6d6875aa",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]