templates/p2p-chat/flow.json
[
    {
        "id": "c3f5136b6650f867",
        "type": "tab",
        "label": "AI example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "df7896b0c2d47c86",
        "type": "group",
        "z": "c3f5136b6650f867",
        "style": {
            "stroke": "#3e404a",
            "stroke-opacity": "1",
            "fill": "#21222c",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#f8f8f2"
        },
        "nodes": [
            "e2aa6431bb8e65fc",
            "040d0b0580014865",
            "33090126d2172ea8",
            "9bcc346653f238cf",
            "74562a0ac4a9ee34",
            "ed5bc5367bd6718f",
            "c95f30b742ac8067",
            "ee8637d594e209a4",
            "c223936886787690",
            "7bc52314aa610e4b"
        ],
        "x": 14,
        "y": 119,
        "w": 1332,
        "h": 382
    },
    {
        "id": "e2aa6431bb8e65fc",
        "type": "ai-model",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "My AI Model",
        "model": "microsoft/mai-ds-r1:free",
        "temperature": 0.7,
        "maxTokens": 1000,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "33090126d2172ea8"
            ]
        ]
    },
    {
        "id": "040d0b0580014865",
        "type": "comment",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "[ACTION] - Configure your OpenRouter API key and model",
        "info": "Go to https://openrouter.ai/ and register/sigin and create a new API KEY",
        "x": 1030,
        "y": 160,
        "wires": []
    },
    {
        "id": "33090126d2172ea8",
        "type": "ai-agent",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "Ask my AI model",
        "systemPrompt": "You are a helpful AI assistant.",
        "responseType": "text",
        "x": 1030,
        "y": 320,
        "wires": [
            [
                "9bcc346653f238cf",
                "c223936886787690"
            ]
        ]
    },
    {
        "id": "9bcc346653f238cf",
        "type": "neuron-p2p",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "",
        "selectedNode": "",
        "description": "",
        "x": 200,
        "y": 320,
        "wires": [
            [
                "ed5bc5367bd6718f"
            ]
        ]
    },
    {
        "id": "74562a0ac4a9ee34",
        "type": "comment",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "[ACTION] Double click and select \"Consultant Seller Config\"",
        "info": "",
        "x": 260,
        "y": 280,
        "wires": []
    },
    {
        "id": "ed5bc5367bd6718f",
        "type": "json",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 610,
        "y": 320,
        "wires": [
            [
                "c95f30b742ac8067"
            ]
        ]
    },
    {
        "id": "c95f30b742ac8067",
        "type": "function",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "Extract buyer's question",
        "func": "msg.payload = msg.payload.text;\nmsg.othermessage = true;\nif(!msg.payload){\n    return null;\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 730,
        "y": 260,
        "wires": [
            [
                "e2aa6431bb8e65fc",
                "ee8637d594e209a4"
            ]
        ]
    },
    {
        "id": "ee8637d594e209a4",
        "type": "ui_template",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "group": "5a98357c2bababf3",
        "name": "Seller Chat UI",
        "order": 0,
        "width": "6",
        "height": "15",
        "format": "<style>\n  .chat-container-alt {\n    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;\n    display: flex;\n    flex-direction: column;\n    height: 100%;\n    background-color: #f8f9fa;\n    border-radius: 8px;\n    overflow: hidden;\n    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);\n    margin-top: 10px;\n  }\n\n  .message-panel-alt {\n    flex-grow: 1;\n    overflow-y: auto;\n    padding: 16px;\n    background-color: #ffffff;\n  }\n\n  .message-alt {\n    max-width: 80%;\n    padding: 10px 14px;\n    margin-bottom: 12px;\n    border-radius: 10px;\n    line-height: 1.4;\n    position: relative;\n    word-wrap: break-word;\n    animation: fadeInAlt 0.3s ease-out;\n    background-color: #e9ecef;\n    color: #212529;\n  }\n\n  .message-alt-other {\n    background-color: #007bff;\n    color: #ffffff;\n  }\n\n  @keyframes fadeInAlt {\n    from {\n      opacity: 0;\n      transform: translateY(10px);\n    }\n\n    to {\n      opacity: 1;\n      transform: translateY(0);\n    }\n  }\n\n  .timestamp-alt {\n    font-size: 11px;\n    opacity: 0.6;\n    margin-top: 4px;\n    text-align: right;\n  }\n\n  .input-area-alt {\n    display: flex;\n    padding: 12px;\n    background-color: #ffffff;\n    border-top: 1px solid #dee2e6;\n  }\n\n  #chat-input-alt {\n    flex-grow: 1;\n    padding: 10px 14px;\n    border: 1px solid #ced4da;\n    border-radius: 20px;\n    outline: none;\n    font-size: 14px;\n  }\n\n  #chat-input-alt:focus {\n    border-color: #007bff;\n  }\n\n  #send-button-alt {\n    margin-left: 10px;\n    padding: 10px 20px;\n    background-color: #007bff;\n    color: white;\n    border: none;\n    border-radius: 20px;\n    cursor: pointer;\n    font-size: 14px;\n  }\n\n  #send-button-alt:hover {\n    background-color: #0069d9;\n  }\n\n  #send-button-alt:disabled {\n    background-color: #adb5bd;\n    cursor: not-allowed;\n  }\n</style>\n\n<div class=\"chat-container-alt\">\n  <div id=\"message-panel-alt\" class=\"message-panel-alt\"></div>\n  <div class=\"input-area-alt\">\n    <input type=\"text\" id=\"chat-input-alt\" placeholder=\"Type your message...\" autocomplete=\"off\" />\n    <button id=\"send-button-alt\" disabled>Send</button>\n  </div>\n</div>\n\n<script>\n  (function(scope) {\n  const messagePanel = document.getElementById('message-panel-alt');\n  const chatInput = document.getElementById('chat-input-alt');\n  const sendButton = document.getElementById('send-button-alt');\n\n  function formatTimestamp(date = new Date()) {\n    return date.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit' });\n  }\n\n  function scrollToBottom() {\n    messagePanel.scrollTop = messagePanel.scrollHeight;\n  }\n\n  function addMessage(text, isOther = false) {\n    const messageElement = document.createElement('div');\n    messageElement.className = \"message-alt\" + (isOther ? \" message-alt-other\" : \"\");\n    messageElement.innerHTML = `\n      ${text}\n      <div class=\"timestamp-alt\">${formatTimestamp()}</div>\n    `;\n    messagePanel.appendChild(messageElement);\n    scrollToBottom();\n  }\n\n  function updateSendButton() {\n    sendButton.disabled = chatInput.value.trim() === '';\n  }\n\n  function sendMessage() {\n    const messageText = chatInput.value.trim();\n    if (!messageText) return;\n    addMessage(messageText, false); // user messages are default style\n\n    if (typeof scope.send === 'function') {\n      scope.send({ payload: messageText });\n    }\n\n    chatInput.value = '';\n    updateSendButton();\n    chatInput.focus();\n  }\n\n  sendButton.addEventListener('click', sendMessage);\n  chatInput.addEventListener('keypress', e => { if (e.key === 'Enter') sendMessage(); });\n  chatInput.addEventListener('input', updateSendButton);\n\n\n\nscope.$watch('msg', function(msg) {\n  if (!msg) return;\n  try {\n    const text = typeof msg.payload === 'object' \n      ? JSON.stringify(msg.payload) \n      : String(msg.payload);\n\n    const isOther = (msg.othermessage === true || msg.othermessage === \"true\");\n    addMessage(text, isOther);\n  } catch (err) {\n    console.error(\"Error showing message:\", err, msg);\n  }\n});\n\n\n  chatInput.focus();\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": false,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1060,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "c223936886787690",
        "type": "function",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "UI formating",
        "func": "\nmsg.othermessage = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 320,
        "wires": [
            [
                "ee8637d594e209a4"
            ]
        ]
    },
    {
        "id": "7bc52314aa610e4b",
        "type": "seller config",
        "z": "c3f5136b6650f867",
        "g": "df7896b0c2d47c86",
        "name": "AI Seller Config",
        "deviceRole": "AI",
        "deviceName": "AI Seller Config",
        "smartContract": "chat",
        "serialNumber": "cloud",
        "deviceType": "cloud",
        "price": 0,
        "description": "",
        "evmAddress": "EVM address not initialized yet",
        "balance": "Not initialized yet",
        "buyerEvmAddress": [],
        "buyerDevices": [],
        "publicKey": "Not initialized yet",
        "stdInTopic": "StdIn topic not initialized yet",
        "stdOutTopic": "StdOut topic not initialized yet",
        "stdErrTopic": "StdErr topic not initialized yet",
        "x": 160,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "5a98357c2bababf3",
        "type": "ui_group",
        "name": "Seller",
        "tab": "ef656de5cefe0a4d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef656de5cefe0a4d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]