templates/jetvision-seller-simulator/flow.json
[
    {
        "id": "e296efd7db3fec42",
        "type": "tab",
        "label": "Jetvision flow1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "146e6bf1de0e6a87",
        "type": "group",
        "z": "e296efd7db3fec42",
        "style": {
            "stroke": "#3d3e46",
            "stroke-opacity": "1",
            "fill": "#21222c",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#f8f8f2"
        },
        "nodes": [
            "786dc8682efcdaf2",
            "92c4a70c443f5d72",
            "93fd212bef2754c8",
            "032cd8917b3e02bc"
        ],
        "x": 14,
        "y": 39,
        "w": 832,
        "h": 142
    },
    {
        "id": "26b7cbbae9b236de",
        "type": "group",
        "z": "e296efd7db3fec42",
        "style": {
            "stroke": "#3e404a",
            "stroke-opacity": "1",
            "fill": "#21222c",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#f8f8f2"
        },
        "nodes": [
            "7eba1b26febdd5c9",
            "bdcceeaf976af4ba",
            "aba9d3df646d7a12",
            "3dd8f8f5bd4e98dc",
            "7cf43dbc3e3be348",
            "fb4ba726a58bfa10",
            "248e42982e5ddb7f",
            "3a0b0c5bb145c4ad",
            "5ee193a622d9fb64",
            "8770e38c6f497988"
        ],
        "x": -26,
        "y": 279,
        "w": 1192,
        "h": 322
    },
    {
        "id": "786dc8682efcdaf2",
        "type": "inject",
        "z": "e296efd7db3fec42",
        "g": "146e6bf1de0e6a87",
        "name": "Trigger Stream",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 140,
        "wires": [
            [
                "92c4a70c443f5d72"
            ]
        ]
    },
    {
        "id": "92c4a70c443f5d72",
        "type": "function",
        "z": "e296efd7db3fec42",
        "g": "146e6bf1de0e6a87",
        "name": "Create Message Stream",
        "func": "const flightData = [\n    { \"uti\": 1729178284, \"ns\": 284211687, \"hex\": \"43C563\", \"fli\": \"AXIS41\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 18025, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A6\", \"org\": null, \"dst\": null, \"opr\": \"HAWK\", \"typ\": \"HAWK\", \"reg\": \"ZK032\", \"dis\": null, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"6440\", \"tru\": 820, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178284, \"ns\": 296999671, \"hex\": \"4079F4\", \"fli\": \"GLDGF\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.52923, \"lon\": -2.36961, \"alt\": 2625, \"gda\": \"A\", \"spd\": 134, \"trk\": 223, \"vrt\": -128, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"LDG\", \"typ\": \"DA42\", \"reg\": \"G-LDGF\", \"dis\": 42.7, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": \"3737\", \"tru\": 476, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 2825, \"qnhs\": 1010.4, \"alts\": 2496, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178284, \"ns\": 313035437, \"hex\": \"40792E\", \"fli\": \"SHT7P\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 54.47077, \"lon\": -3.16548, \"alt\": 36925, \"gda\": \"A\", \"spd\": 436, \"trk\": 154, \"vrt\": 640, \"tmp\": -51, \"wsp\": 49, \"wdi\": 223, \"cat\": \"A3\", \"org\": \"EGPF\", \"dst\": \"EGLL\", \"opr\": \"BAW\", \"typ\": \"A20N\", \"reg\": \"G-TTNK\", \"dis\": 289.9, \"dbm\": -81, \"cou\": \"U.K.\", \"squ\": \"1165\", \"tru\": 177, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 37050, \"qnhs\": 1012.8, \"alts\": 36992, \"hdgs\": 159, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178283, \"ns\": 517067031, \"hex\": \"AB84AB\", \"fli\": \"DAL37\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.18414, \"lon\": -0.79842, \"alt\": 14025, \"gda\": \"A\", \"spd\": 436, \"trk\": 328, \"vrt\": 2112, \"tmp\": -5, \"wsp\": 25, \"wdi\": 197, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"KPDX\", \"opr\": null, \"typ\": null, \"reg\": \"N841MH\", \"dis\": 107.9, \"dbm\": -79, \"cou\": \"USA \", \"squ\": \"7662\", \"tru\": 134, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 14100, \"qnhs\": 1013.6, \"alts\": 16000, \"hdgs\": 325, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178284, \"ns\": 201068671, \"hex\": \"4068CB\", \"fli\": \"EXS8PW\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.57557, \"lon\": -2.76683, \"alt\": 25800, \"gda\": \"A\", \"spd\": 378, \"trk\": 266, \"vrt\": 1984, \"tmp\": -36, \"wsp\": 67, \"wdi\": 210, \"cat\": \"A3\", \"org\": \"LKPR\", \"dst\": \"EGNT\", \"opr\": \"EXS\", \"typ\": \"B733\", \"reg\": \"G-GDFM\", \"dis\": 187.3, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"7673\", \"tru\": 604, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 25850, \"alts\": 28000, \"hdgs\": 276, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178284, \"ns\": 325684171, \"hex\": \"407F96\", \"fli\": \"TOM97X\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.37031, \"lon\": -1.21719, \"alt\": 17900, \"gda\": \"A\", \"spd\": 326, \"trk\": 156, \"vrt\": 2496, \"tmp\": -19, \"wsp\": 45, \"wdi\": 200, \"cat\": \"A3\", \"org\": \"EGNX\", \"dst\": \"GCLP\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 90.5, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"2003\", \"tru\": 1358, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 18025, \"qnhs\": 1013.6, \"alts\": 22016, \"hdgs\": 160, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178284, \"ns\": 142472859, \"hex\": \"407DD2\", \"fli\": \"AOS54\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.31689, \"lon\": -2.49725, \"alt\": 2350, \"gda\": \"A\", \"spd\": 133, \"trk\": 100, \"vrt\": -128, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"DA40\", \"typ\": \"DA40\", \"reg\": \"G-SUEG\", \"dis\": 46.7, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"1177\", \"tru\": 44, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 2450, \"qnhs\": 1010.4, \"alts\": 2208, \"timeRecorded\": 1729178284613 },\n    { \"uti\": 1729178283, \"ns\": 775431281, \"hex\": \"40747F\", \"fli\": \"PYN04\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.02876, \"lon\": -5.71777, \"alt\": 23025, \"gda\": \"A\", \"spd\": 272, \"trk\": 182, \"vrt\": -64, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PYN\", \"typ\": \"BE20\", \"reg\": \"G-FLYK\", \"dis\": 261.7, \"dbm\": -81, \"cou\": \"U.K.\", \"squ\": \"6207\", \"tru\": 25, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 22875, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178284, \"ns\": 278887203, \"hex\": \"4CAE84\", \"fli\": \"TOM49K\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.22067, \"lon\": -1.5577, \"alt\": 7825, \"gda\": \"A\", \"spd\": 274, \"trk\": 154, \"vrt\": 3328, \"tmp\": 1, \"wsp\": 28, \"wdi\": 226, \"cat\": \"A3\", \"org\": \"EFKT\", \"dst\": \"EGKK\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 62, \"dbm\": -74, \"cou\": \"Irel\", \"squ\": \"5257\", \"tru\": 509, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 7900, \"qnhs\": 1013.6, \"alts\": 19008, \"hdgs\": 160, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178284, \"ns\": 319735812, \"hex\": \"40764F\", \"fli\": \"GFLXI\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 3925, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": 288, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"PC12\", \"typ\": \"PC12\", \"reg\": \"G-FLXI\", \"dis\": null, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"3710\", \"tru\": 94, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178283, \"ns\": 698713203, \"hex\": \"4012BB\", \"fli\": \"GVICC\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 3900, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"P28A\", \"typ\": \"P28A\", \"reg\": \"G-VICC\", \"dis\": null, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 73, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178284, \"ns\": 5451875, \"hex\": \"4CA8D5\", \"fli\": \"RYR76TX\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.4811, \"lon\": -1.19148, \"alt\": 19250, \"gda\": \"A\", \"spd\": 393, \"trk\": 315, \"vrt\": 2112, \"tmp\": -19, \"wsp\": 38, \"wdi\": 201, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"EIDW\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-ENJ\", \"dis\": 91, \"dbm\": -74, \"cou\": \"Irel\", \"squ\": \"4237\", \"tru\": 647, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 19500, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 312, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178284, \"ns\": 265315906, \"hex\": \"407133\", \"fli\": \"SXN10\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2525, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A7\", \"org\": null, \"dst\": null, \"opr\": \"SXN\", \"typ\": \"A109\", \"reg\": \"G-KLNH\", \"dis\": null, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": \"0010\", \"tru\": 83, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178284, \"ns\": 214460468, \"hex\": \"4CA97A\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 40000, \"gda\": \"A\", \"spd\": 435, \"trk\": 319, \"vrt\": 0, \"tmp\": -53, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-ESS\", \"dis\": null, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"2315\", \"tru\": 43, \"lla\": null, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 40525, \"timeRecorded\": 1729178284614 },\n    { \"uti\": 1729178284, \"ns\": 318554687, \"hex\": \"4CA7B5\", \"fli\": \"RYR1YR\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 36000, \"gda\": \"A\", \"spd\": 477, \"trk\": 5, \"vrt\": 0, \"tmp\": -59, \"wsp\": null, \"wdi\": null, \"cat\": \"A3\", \"org\": \"LIRN\", \"dst\": \"LDZA\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EFZ\", \"dis\": null, \"dbm\": -80, \"cou\": \"Irel\", \"squ\": \"5537\", \"tru\": 140, \"lla\": null, \"alr\": 0, \"spi\": false, \"pic\": 11, \"altg\": 36425, \"timeRecorded\": 1729178284621 },\n    { \"uti\": 1729178284, \"ns\": 270423390, \"hex\": \"4CADC2\", \"fli\": \"RYR2DP\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.54596, \"lon\": -3.81486, \"alt\": 35600, \"gda\": \"A\", \"spd\": 439, \"trk\": 205, \"vrt\": 960, \"tmp\": -52, \"wsp\": 30, \"wdi\": 261, \"cat\": \"A3\", \"org\": \"EGGD\", \"dst\": \"GCRR\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 283.4, \"dbm\": -85, \"cou\": \"Irel\", \"squ\": \"5252\", \"tru\": 233, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 35950, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 208, \"timeRecorded\": 1729178284621 },\n    { \"uti\": 1729178284, \"ns\": 294160781, \"hex\": \"4CA702\", \"fli\": \"RYR73DY\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.48578, \"lon\": -0.54189, \"alt\": 24775, \"gda\": \"A\", \"spd\": 366, \"trk\": 192, \"vrt\": 2176, \"tmp\": -31, \"wsp\": 63, \"wdi\": 212, \"cat\": \"A3\", \"org\": \"EGSS\", \"dst\": \"LEBL\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EBE\", \"dis\": 130.9, \"dbm\": -76, \"cou\": \"Irel\", \"squ\": \"5264\", \"tru\": 649, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 25175, \"qnhs\": 1013.6, \"alts\": 28992, \"hdgs\": 197, \"timeRecorded\": 1729178284621 },\n    { \"uti\": 1729178284, \"ns\": 279592406, \"hex\": \"4CA837\", \"fli\": \"EIN16T\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.54639, \"lon\": -1.1912, \"alt\": 14175, \"gda\": \"A\", \"spd\": 363, \"trk\": 296, \"vrt\": 960, \"tmp\": -8, \"wsp\": 32, \"wdi\": 199, \"cat\": \"A3\", \"org\": \"EGLL\", \"dst\": \"EIDW\", \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-GAM\", \"dis\": 87.3, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"6032\", \"tru\": 265, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 14425, \"qnhs\": 1012.8, \"alts\": 15008, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 130721515, \"hex\": \"400437\", \"fli\": \"EXS53V\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.23249, \"lon\": -7.03506, \"alt\": 32000, \"gda\": \"A\", \"spd\": 475, \"trk\": 212, \"vrt\": 0, \"tmp\": null, \"wsp\": 110, \"wdi\": 322, \"cat\": \"A4\", \"org\": \"EGCC\", \"dst\": \"LGKL\", \"opr\": \"EXS\", \"typ\": \"B752\", \"reg\": \"G-LSAJ\", \"dis\": 324.5, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"2151\", \"tru\": 186, \"lla\": 6, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 32200, \"qnhs\": 1013.6, \"alts\": 32000, \"hdgs\": 222, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 180707453, \"hex\": \"4D2031\", \"fli\": \"9HSLM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.53248, \"lon\": 0.327, \"alt\": 38125, \"gda\": \"A\", \"spd\": 426, \"trk\": 273, \"vrt\": 640, \"tmp\": null, \"wsp\": 31, \"wdi\": 203, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 192.5, \"dbm\": -80, \"cou\": \"Malt\", \"squ\": \"3310\", \"tru\": 287, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38575, \"qnhs\": 1012.8, \"alts\": 39008, \"hdgs\": 270, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178283, \"ns\": 338826671, \"hex\": \"400E0B\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": null, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"R44\", \"typ\": \"R44\", \"reg\": \"G-PGGY\", \"dis\": null, \"dbm\": -97, \"cou\": \"U.K.\", \"squ\": null, \"tru\": 2, \"lla\": null, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178279, \"ns\": 323956921, \"hex\": \"402BC3\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": null, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"C152\", \"typ\": \"C152\", \"reg\": \"G-LAMS\", \"dis\": null, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": null, \"tru\": 1, \"lla\": null, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178283, \"ns\": 798379359, \"hex\": \"43C92B\", \"fli\": \"SYS666\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.38963, \"lon\": -2.17239, \"alt\": 1600, \"gda\": \"A\", \"spd\": 126, \"trk\": 315, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A7\", \"org\": null, \"dst\": null, \"opr\": \"EC45\", \"typ\": \"EC45\", \"reg\": \"ZM497\", \"dis\": 53.9, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 51, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 268748390, \"hex\": \"ABE959\", \"fli\": \"FDX30\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.79507, \"lon\": -5.4237, \"alt\": 39000, \"gda\": \"A\", \"spd\": 497, \"trk\": 98, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"KIND\", \"dst\": \"LFPG\", \"opr\": \"FDX\", \"typ\": \"B77L\", \"reg\": \"N867FD\", \"dis\": 320.9, \"dbm\": -86, \"cou\": \"USA \", \"squ\": \"6336\", \"tru\": 931, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 39500, \"qnhs\": 1012.8, \"alts\": 39008, \"hdgs\": 100, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 211905781, \"hex\": \"40622D\", \"fli\": \"EZY79ZM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.10551, \"lon\": -1.28169, \"alt\": 22000, \"gda\": \"A\", \"spd\": 342, \"trk\": 195, \"vrt\": 1920, \"tmp\": -25, \"wsp\": 48, \"wdi\": 206, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"LFML\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZTV\", \"dis\": 114.6, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"5211\", \"tru\": 1832, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 22425, \"qnhs\": 1013.6, \"alts\": 30016, \"hdgs\": 0, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 219494578, \"hex\": \"3C70C9\", \"fli\": \"GEC8225\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.71055, \"lon\": -5.65125, \"alt\": 37000, \"gda\": \"A\", \"spd\": 512, \"trk\": 97, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"MMGL\", \"dst\": \"EDDF\", \"opr\": \"GEC\", \"typ\": \"B77L\", \"reg\": \"D-ALFI\", \"dis\": 230.4, \"dbm\": -79, \"cou\": \"Germ\", \"squ\": \"2022\", \"tru\": 2011, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37300, \"qnhs\": 1012.8, \"alts\": 36992, \"hdgs\": 95, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178283, \"ns\": 859002765, \"hex\": \"403F73\", \"fli\": \"GFELL\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 4525, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"EUPA\", \"typ\": \"EUPA\", \"reg\": \"G-FELL\", \"dis\": null, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 72, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 171825796, \"hex\": \"896272\", \"fli\": \"DUB4\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.7494, \"lon\": -4.43744, \"alt\": 27025, \"gda\": \"A\", \"spd\": 498, \"trk\": 109, \"vrt\": 0, \"tmp\": -37, \"wsp\": 49, \"wdi\": 215, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"DUB\", \"typ\": \"B744\", \"reg\": \"A6-GGP\", \"dis\": 147, \"dbm\": -74, \"cou\": \"UAE \", \"squ\": \"5142\", \"tru\": 5461, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 27075, \"qnhs\": 1013.6, \"alts\": 27008, \"hdgs\": 112, \"timeRecorded\": 1729178284622 },\n    { \"uti\": 1729178284, \"ns\": 270286453, \"hex\": \"407E7B\", \"fli\": \"TOM4XV\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.51636, \"lon\": -3.27534, \"alt\": 36000, \"gda\": \"A\", \"spd\": 480, \"trk\": 7, \"vrt\": 0, \"tmp\": -51, \"wsp\": 26, \"wdi\": 186, \"cat\": \"A3\", \"org\": \"GCRR\", \"dst\": \"EGNT\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 79.5, \"dbm\": -69, \"cou\": \"U.K.\", \"squ\": \"7463\", \"tru\": 9500, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 36325, \"qnhs\": 1013.6, \"alts\": 36000, \"hdgs\": 6, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 315122093, \"hex\": \"4A5D2E\", \"fli\": \"HYS244\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.28453, \"lon\": -1.52815, \"alt\": 37000, \"gda\": \"A\", \"spd\": 462, \"trk\": 100, \"vrt\": 0, \"tmp\": -50, \"wsp\": 48, \"wdi\": 197, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"LRIA\", \"opr\": \"EC20\", \"typ\": \"EC20\", \"reg\": \"YR-WIN\", \"dis\": 161.5, \"dbm\": -77, \"cou\": \"Roma\", \"squ\": \"2275\", \"tru\": 12170, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 37275, \"qnhs\": 1012.8, \"alts\": 36992, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 277638578, \"hex\": \"406440\", \"fli\": \"EZY102L\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.15261, \"lon\": -0.34317, \"alt\": 16775, \"gda\": \"A\", \"spd\": 391, \"trk\": 324, \"vrt\": 2304, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": \"EGGW\", \"dst\": \"EGPF\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZUF\", \"dis\": 137.4, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"6460\", \"tru\": 16, \"lla\": 0, \"alr\": 0, \"spi\": false, \"pic\": 11, \"altg\": 17075, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178282, \"ns\": 707326640, \"hex\": \"400CEA\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": null, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"R44\", \"typ\": \"R44\", \"reg\": \"G-EVEE\", \"dis\": null, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": null, \"tru\": 4, \"lla\": null, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 221169859, \"hex\": \"4CA4EE\", \"fli\": \"RYR719\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.79568, \"lon\": -0.34317, \"alt\": 22200, \"gda\": \"A\", \"spd\": 417, \"trk\": 326, \"vrt\": -2240, \"tmp\": -27, \"wsp\": 46, \"wdi\": 207, \"cat\": \"A3\", \"org\": \"LFOB\", \"dst\": \"EGBB\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DPJ\", \"dis\": 135.9, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"5620\", \"tru\": 1022, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 0, \"altg\": 22600, \"qnhs\": 1013.6, \"alts\": 16992, \"hdgs\": 320, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 271049890, \"hex\": \"440018\", \"fli\": \"EJU94CH\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.47873, \"lon\": -2.55447, \"alt\": 15375, \"gda\": \"A\", \"spd\": 366, \"trk\": 84, \"vrt\": 4224, \"tmp\": -13, \"wsp\": 45, \"wdi\": 193, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EJU\", \"typ\": \"A319\", \"reg\": \"OE-LKP\", \"dis\": 50.9, \"dbm\": -71, \"cou\": \"Aust\", \"squ\": \"7630\", \"tru\": 1844, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 15450, \"qnhs\": 1013.6, \"alts\": 23008, \"hdgs\": 0, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 138100250, \"hex\": \"406CDD\", \"fli\": \"TOM37G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.74933, \"lon\": -1.55895, \"alt\": 23275, \"gda\": \"A\", \"spd\": 375, \"trk\": 213, \"vrt\": 1856, \"tmp\": -28, \"wsp\": 56, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"EGBB\", \"dst\": \"LIMJ\", \"opr\": \"AWC\", \"typ\": \"A320\", \"reg\": \"G-POWM\", \"dis\": 139.5, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"5414\", \"tru\": 1173, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 23650, \"qnhs\": 1012.8, \"alts\": 32992, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 2714468, \"hex\": \"408052\", \"fli\": \"EZY3020\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.06618, \"lon\": -6.38176, \"alt\": 38000, \"gda\": \"A\", \"spd\": 432, \"trk\": 2, \"vrt\": 0, \"tmp\": -52, \"wsp\": 16, \"wdi\": 3, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 278.9, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": \"4461\", \"tru\": 3224, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 38375, \"qnhs\": 1013.6, \"alts\": 38016, \"hdgs\": 0, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178281, \"ns\": 6189921, \"hex\": \"3C56EE\", \"fli\": \"EWG6UN\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.11949, \"lon\": 0.62701, \"alt\": 38575, \"gda\": \"A\", \"spd\": 439, \"trk\": 104, \"vrt\": 512, \"tmp\": -54, \"wsp\": 40, \"wdi\": 200, \"cat\": \"A3\", \"org\": \"EGCC\", \"dst\": \"EDDH\", \"opr\": \"EWG\", \"typ\": \"A320\", \"reg\": \"D-AEWN\", \"dis\": 239.9, \"dbm\": -84, \"cou\": \"Germ\", \"squ\": \"6001\", \"tru\": 1944, \"lla\": 39, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1012.8, \"alts\": 39008, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 160143703, \"hex\": \"4072C8\", \"fli\": \"EZY976M\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.84537, \"lon\": -3.23433, \"alt\": 20750, \"gda\": \"A\", \"spd\": 433, \"trk\": 9, \"vrt\": 1728, \"tmp\": -25, \"wsp\": 64, \"wdi\": 184, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EZY\", \"typ\": \"A20N\", \"reg\": \"G-UZHB\", \"dis\": 63.6, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"6351\", \"tru\": 3720, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 20875, \"qnhs\": 1012.8, \"alts\": 26016, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 245312812, \"hex\": \"40653A\", \"fli\": \"EZY84EA\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 54.25502, \"lon\": -3.24026, \"alt\": 37000, \"gda\": \"A\", \"spd\": 415, \"trk\": 154, \"vrt\": 0, \"tmp\": -52, \"wsp\": 49, \"wdi\": 226, \"cat\": \"A3\", \"org\": \"LIRF\", \"dst\": \"EHAM\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 267.6, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"7660\", \"tru\": 1593, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 0, \"timeRecorded\": 1729178284623 },\n    { \"uti\": 1729178284, \"ns\": 276051000, \"hex\": \"06A1D0\", \"fli\": \"QQE537\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.7644, \"lon\": -2.11958, \"alt\": 19000, \"gda\": \"A\", \"spd\": 347, \"trk\": 156, \"vrt\": 0, \"tmp\": -23, \"wsp\": 50, \"wdi\": 204, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"QQE\", \"typ\": \"G650\", \"reg\": \"A7-CGL\", \"dis\": 95.6, \"dbm\": -73, \"cou\": \"Qata\", \"squ\": \"1422\", \"tru\": 2989, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 19225, \"qnhs\": 1013.6, \"alts\": 19008, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 231957250, \"hex\": \"407699\", \"fli\": \"VIR24M\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.45351, \"lon\": -3.1965, \"alt\": 34875, \"gda\": \"A\", \"spd\": 518, \"trk\": 96, \"vrt\": -1344, \"tmp\": -47, \"wsp\": 51, \"wdi\": 209, \"cat\": \"A5\", \"org\": \"KLAX\", \"dst\": \"EGLL\", \"opr\": \"VIR\", \"typ\": \"A35K\", \"reg\": \"G-VPRD\", \"dis\": 79.4, \"dbm\": -64, \"cou\": \"U.K.\", \"squ\": \"7650\", \"tru\": 13894, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 35150, \"qnhs\": 1013.6, \"alts\": 27008, \"hdgs\": 101, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 304403046, \"hex\": \"4CA811\", \"fli\": \"RYR1982\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.66666, \"lon\": -4.10725, \"alt\": 37000, \"gda\": \"A\", \"spd\": 454, \"trk\": 148, \"vrt\": 64, \"tmp\": -48, \"wsp\": 43, \"wdi\": 246, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"LFBZ\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EKR\", \"dis\": 186.3, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"6345\", \"tru\": 11463, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 37325, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 147, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 272618031, \"hex\": \"40123F\", \"fli\": \"SHT7H\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.80378, \"lon\": -2.10953, \"alt\": 34475, \"gda\": \"A\", \"spd\": 418, \"trk\": 153, \"vrt\": -1920, \"tmp\": -51, \"wsp\": 67, \"wdi\": 213, \"cat\": \"A3\", \"org\": \"EGPF\", \"dst\": \"EGLL\", \"opr\": \"BAW\", \"typ\": \"A320\", \"reg\": \"G-EUUS\", \"dis\": 100, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"1170\", \"tru\": 9986, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 34850, \"qnhs\": 1012.8, \"alts\": 20000, \"hdgs\": 160, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 267599875, \"hex\": \"407180\", \"fli\": \"EXS61LV\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.03801, \"lon\": -6.19568, \"alt\": 36000, \"gda\": \"A\", \"spd\": 451, \"trk\": 213, \"vrt\": 64, \"tmp\": -49, \"wsp\": 69, \"wdi\": 302, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EXS\", \"typ\": \"B738\", \"reg\": \"G-JZBD\", \"dis\": 291, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"5462\", \"tru\": 1566, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36000, \"hdgs\": 220, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 313691500, \"hex\": \"4CAE52\", \"fli\": \"RYR95VB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.78575, \"lon\": -1.37047, \"alt\": 21225, \"gda\": \"A\", \"spd\": 300, \"trk\": 168, \"vrt\": 896, \"tmp\": -24, \"wsp\": 59, \"wdi\": 214, \"cat\": \"A3\", \"org\": \"EGBB\", \"dst\": \"GCTS\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 66.3, \"dbm\": -67, \"cou\": \"Irel\", \"squ\": \"2066\", \"tru\": 4125, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 21525, \"qnhs\": 1013.6, \"alts\": 22016, \"hdgs\": 175, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 292854406, \"hex\": \"3C66EA\", \"fli\": \"DLH5NX\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.44346, \"lon\": -1.38775, \"alt\": 38025, \"gda\": \"A\", \"spd\": 450, \"trk\": 281, \"vrt\": 0, \"tmp\": -48, \"wsp\": 30, \"wdi\": 192, \"cat\": \"A3\", \"org\": \"EDDF\", \"dst\": \"EIDW\", \"opr\": \"DLH\", \"typ\": \"A320\", \"reg\": \"D-AIWJ\", \"dis\": 181.3, \"dbm\": -81, \"cou\": \"Germ\", \"squ\": \"2564\", \"tru\": 2750, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38425, \"qnhs\": 1012.8, \"alts\": 38016, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 246061859, \"hex\": \"406D6F\", \"fli\": \"TOM9429\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.7471, \"lon\": -3.0555, \"alt\": 40975, \"gda\": \"A\", \"spd\": 483, \"trk\": 187, \"vrt\": 64, \"tmp\": -54, \"wsp\": 40, \"wdi\": 254, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"TOM\", \"typ\": \"B788\", \"reg\": \"G-TUIH\", \"dis\": 139.3, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": \"0516\", \"tru\": 19198, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 41475, \"qnhs\": 1012.8, \"alts\": 40992, \"hdgs\": 191, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 316823718, \"hex\": \"868056\", \"fli\": \"JAL45\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.93704, \"lon\": -1.19682, \"alt\": 37000, \"gda\": \"A\", \"spd\": 461, \"trk\": 144, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"RJTT\", \"dst\": \"LFPG\", \"opr\": \"JAL\", \"typ\": \"B77W\", \"reg\": \"JA738J\", \"dis\": 76.6, \"dbm\": -70, \"cou\": \"Japa\", \"squ\": \"2702\", \"tru\": 15687, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37375, \"qnhs\": 1012.8, \"alts\": 36992, \"hdgs\": 150, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 310740250, \"hex\": \"4CA64E\", \"fli\": \"RYR831R\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.50725, \"lon\": -0.64753, \"alt\": 38000, \"gda\": \"A\", \"spd\": 439, \"trk\": 285, \"vrt\": 0, \"tmp\": -55, \"wsp\": 40, \"wdi\": 207, \"cat\": \"A3\", \"org\": \"LFOB\", \"dst\": \"EIDW\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DYL\", \"dis\": 123.3, \"dbm\": -70, \"cou\": \"Irel\", \"squ\": \"5621\", \"tru\": 4637, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 38400, \"qnhs\": 1013.6, \"alts\": 38016, \"hdgs\": 280, \"timeRecorded\": 1729178284624 },\n    { \"uti\": 1729178284, \"ns\": 324705218, \"hex\": \"40666A\", \"fli\": \"EZY834E\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.53043, \"lon\": -1.17883, \"alt\": 22550, \"gda\": \"A\", \"spd\": 393, \"trk\": 326, \"vrt\": -2368, \"tmp\": -28, \"wsp\": 54, \"wdi\": 192, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZUP\", \"dis\": 103.4, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"7460\", \"tru\": 12296, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 23000, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 320, \"timeRecorded\": 1729178284625 },\n    { \"uti\": 1729178280, \"ns\": 211732890, \"hex\": \"401829\", \"fli\": \"GAXJX\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2575, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"P28A\", \"typ\": \"P28A\", \"reg\": \"G-AXJX\", \"dis\": null, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 38, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284625 },\n    { \"uti\": 1729178284, \"ns\": 323378781, \"hex\": \"C01755\", \"fli\": \"ACA857\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.5301, \"lon\": -0.74009, \"alt\": 22450, \"gda\": \"A\", \"spd\": 487, \"trk\": 346, \"vrt\": 2048, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"CYYZ\", \"opr\": \"ACA\", \"typ\": \"B77W\", \"reg\": \"C-FIVS\", \"dis\": 127.3, \"dbm\": -75, \"cou\": \"Cana\", \"squ\": \"1476\", \"tru\": 1144, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 22750, \"qnhs\": 1012.8, \"alts\": 30016, \"hdgs\": 325, \"timeRecorded\": 1729178284625 },\n    { \"uti\": 1729178284, \"ns\": 330163140, \"hex\": \"407E7D\", \"fli\": \"EXS65Q\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.50622, \"lon\": -0.3412, \"alt\": 37275, \"gda\": \"A\", \"spd\": 451, \"trk\": 327, \"vrt\": -896, \"tmp\": -53, \"wsp\": 44, \"wdi\": 199, \"cat\": \"A3\", \"org\": \"EGNX\", \"dst\": \"GCFV\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 149.7, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"4046\", \"tru\": 6288, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 37650, \"qnhs\": 1013.6, \"alts\": 28000, \"hdgs\": 323, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178284, \"ns\": 324203093, \"hex\": \"440A8D\", \"fli\": \"TAY7044\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.7538, \"lon\": -1.84637, \"alt\": 32000, \"gda\": \"A\", \"spd\": 488, \"trk\": 296, \"vrt\": 0, \"tmp\": -50, \"wsp\": 73, \"wdi\": 202, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"TAY\", \"typ\": \"B744\", \"reg\": \"OE-IFK\", \"dis\": 36.6, \"dbm\": -70, \"cou\": \"Aust\", \"squ\": \"4106\", \"tru\": 6551, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 32175, \"qnhs\": 1013.6, \"alts\": 32000, \"hdgs\": 288, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178283, \"ns\": 107552093, \"hex\": \"40796E\", \"fli\": \"EXS93G\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 11500, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A3\", \"org\": \"LGSA\", \"dst\": \"EGCC\", \"opr\": \"EXS\", \"typ\": \"A321\", \"reg\": \"G-HLYF\", \"dis\": null, \"dbm\": -78, \"cou\": \"U.K.\", \"squ\": null, \"tru\": 4, \"lla\": null, \"alr\": 0, \"spi\": false, \"pic\": 11, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178284, \"ns\": 285700015, \"hex\": \"407777\", \"fli\": \"CFE561\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.77063, \"lon\": -1.84296, \"alt\": 36000, \"gda\": \"A\", \"spd\": 472, \"trk\": 330, \"vrt\": -64, \"tmp\": -49, \"wsp\": 22, \"wdi\": 186, \"cat\": \"A3\", \"org\": \"EGLC\", \"dst\": \"EGPH\", \"opr\": \"CFE\", \"typ\": \"E190\", \"reg\": \"G-LCAB\", \"dis\": 208.9, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"5454\", \"tru\": 7300, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36000, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178284, \"ns\": 328694890, \"hex\": \"4CA8D6\", \"fli\": \"RYR9RY\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.86818, \"lon\": -1.44852, \"alt\": 37000, \"gda\": \"A\", \"spd\": 425, \"trk\": 144, \"vrt\": 0, \"tmp\": -53, \"wsp\": 47, \"wdi\": 204, \"cat\": \"A3\", \"org\": \"EGNT\", \"dst\": \"LEIB\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-ENK\", \"dis\": 59.5, \"dbm\": -67, \"cou\": \"Irel\", \"squ\": \"2014\", \"tru\": 19837, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 37350, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 150, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178283, \"ns\": 113558312, \"hex\": \"4CA4F0\", \"fli\": \"RYR77JV\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.73447, \"lon\": -1.43175, \"alt\": 17900, \"gda\": \"A\", \"spd\": 414, \"trk\": 336, \"vrt\": -3072, \"tmp\": -20, \"wsp\": 38, \"wdi\": 188, \"cat\": \"A3\", \"org\": \"LEMI\", \"dst\": \"EGCC\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DPL\", \"dis\": 109.3, \"dbm\": -100, \"cou\": \"Irel\", \"squ\": \"1053\", \"tru\": 15225, \"lla\": 25, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 18350, \"qnhs\": 1013.6, \"alts\": 14016, \"hdgs\": 333, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178284, \"ns\": 295115656, \"hex\": \"4080DB\", \"fli\": \"BAW5LI\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.84106, \"lon\": -2.24767, \"alt\": 34400, \"gda\": \"A\", \"spd\": 419, \"trk\": 204, \"vrt\": 384, \"tmp\": -55, \"wsp\": 45, \"wdi\": 217, \"cat\": \"A3\", \"org\": \"EGLL\", \"dst\": \"LPPT\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 230.2, \"dbm\": -81, \"cou\": \"U.K.\", \"squ\": \"0502\", \"tru\": 4328, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 34800, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 205, \"timeRecorded\": 1729178284642 },\n    { \"uti\": 1729178284, \"ns\": 302153906, \"hex\": \"39CF0C\", \"fli\": \"AFR378G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.52081, \"lon\": -1.1602, \"alt\": 38000, \"gda\": \"A\", \"spd\": 493, \"trk\": 302, \"vrt\": 0, \"tmp\": -51, \"wsp\": 39, \"wdi\": 213, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"AFR\", \"typ\": \"A359\", \"reg\": \"F-HTYM\", \"dis\": 90.6, \"dbm\": -75, \"cou\": \"Fran\", \"squ\": \"5607\", \"tru\": 3545, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 38375, \"qnhs\": 1013.6, \"alts\": 38016, \"hdgs\": 297, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 304878312, \"hex\": \"402DDE\", \"fli\": \"GGJCD\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2000, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"R22\", \"typ\": \"R22\", \"reg\": \"G-GJCD\", \"dis\": null, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 1229, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 332428359, \"hex\": \"407D5F\", \"fli\": \"EMC3\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.99934, \"lon\": -0.96237, \"alt\": 12925, \"gda\": \"A\", \"spd\": 256, \"trk\": 145, \"vrt\": -832, \"tmp\": -3, \"wsp\": 28, \"wdi\": 198, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"RVR\", \"typ\": \"PC12\", \"reg\": \"G-ISJE\", \"dis\": 93.1, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"6024\", \"tru\": 15941, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 13200, \"qnhs\": 1013.6, \"alts\": 12000, \"hdgs\": 149, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 321459218, \"hex\": \"3475D9\", \"fli\": \"VLG7CZ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.0572, \"lon\": -1.5947, \"alt\": 31675, \"gda\": \"A\", \"spd\": 388, \"trk\": 156, \"vrt\": 704, \"tmp\": -51, \"wsp\": 96, \"wdi\": 210, \"cat\": \"A3\", \"org\": \"LEMD\", \"dst\": \"LEBL\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 51.8, \"dbm\": -65, \"cou\": \"Spai\", \"squ\": \"0505\", \"tru\": 8137, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 32025, \"qnhs\": 1012.8, \"alts\": 35008, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 328850015, \"hex\": \"406FD8\", \"fli\": \"EZY76UM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.81432, \"lon\": -0.82635, \"alt\": 38000, \"gda\": \"A\", \"spd\": 475, \"trk\": 358, \"vrt\": 0, \"tmp\": -54, \"wsp\": 41, \"wdi\": 206, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"GMMX\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZPB\", \"dis\": 102.7, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"5557\", \"tru\": 8395, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38475, \"qnhs\": 1013.6, \"alts\": 38016, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 331505218, \"hex\": \"4CA304\", \"fli\": \"RYR3EG\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.56374, \"lon\": -3.27727, \"alt\": 8300, \"gda\": \"A\", \"spd\": 255, \"trk\": 34, \"vrt\": -1024, \"tmp\": -1, \"wsp\": 17, \"wdi\": 194, \"cat\": \"A3\", \"org\": \"LEMG\", \"dst\": \"EGTE\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DLY\", \"dis\": 164.2, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"7464\", \"tru\": 747, \"lla\": 6, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 8575, \"qnhs\": 1011.2, \"alts\": 4000, \"hdgs\": 35, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 305646437, \"hex\": \"4CAE6D\", \"fli\": \"RYR4DB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.13693, \"lon\": -2.76141, \"alt\": 28925, \"gda\": \"A\", \"spd\": 340, \"trk\": 199, \"vrt\": 1152, \"tmp\": -46, \"wsp\": 90, \"wdi\": 203, \"cat\": \"A3\", \"org\": \"EGNM\", \"dst\": \"GCFV\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 139.4, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"2021\", \"tru\": 3555, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 29075, \"qnhs\": 1013.6, \"alts\": 31008, \"hdgs\": 199, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 319592687, \"hex\": \"4CA2C1\", \"fli\": \"RYR93VQ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.9719, \"lon\": -1.45096, \"alt\": 29400, \"gda\": \"A\", \"spd\": 473, \"trk\": 318, \"vrt\": 2048, \"tmp\": -45, \"wsp\": 74, \"wdi\": 194, \"cat\": \"A3\", \"org\": \"EGGW\", \"dst\": \"EIDW\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DLD\", \"dis\": 131.5, \"dbm\": -74, \"cou\": \"Irel\", \"squ\": \"5456\", \"tru\": 4563, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 29675, \"qnhs\": 1013.6, \"alts\": 34016, \"hdgs\": 310, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 275235671, \"hex\": \"407178\", \"fli\": \"EXS41UN\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.16769, \"lon\": -0.63917, \"alt\": 34675, \"gda\": \"A\", \"spd\": 498, \"trk\": 330, \"vrt\": -1024, \"tmp\": -57, \"wsp\": 69, \"wdi\": 187, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EXS\", \"typ\": \"B738\", \"reg\": \"G-JZBK\", \"dis\": 117.9, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"2773\", \"tru\": 5243, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 35075, \"qnhs\": 1013.6, \"alts\": 28992, \"hdgs\": 325, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 206831156, \"hex\": \"406D4E\", \"fli\": \"CFE919\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.3931, \"lon\": -4.00836, \"alt\": 31575, \"gda\": \"A\", \"spd\": 449, \"trk\": 103, \"vrt\": 1984, \"tmp\": -43, \"wsp\": 93, \"wdi\": 204, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGLC\", \"opr\": \"CFE\", \"typ\": \"E190\", \"reg\": \"G-LCYV\", \"dis\": 200.3, \"dbm\": -83, \"cou\": \"U.K.\", \"squ\": \"6015\", \"tru\": 1874, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 31700, \"qnhs\": 1013.6, \"alts\": 37024, \"timeRecorded\": 1729178284643 },\n    { \"uti\": 1729178284, \"ns\": 256128703, \"hex\": \"4856ED\", \"fli\": \"PHBRA\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.19046, \"lon\": -0.52643, \"alt\": 27725, \"gda\": \"A\", \"spd\": 325, \"trk\": 342, \"vrt\": -384, \"tmp\": -39, \"wsp\": 84, \"wdi\": 208, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PC12\", \"typ\": \"PC12\", \"reg\": \"PH-BRA\", \"dis\": 126, \"dbm\": -80, \"cou\": \"Neth\", \"squ\": \"6276\", \"tru\": 1101, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 28225, \"qnhs\": 1013.6, \"alts\": 24000, \"hdgs\": 329, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 57454953, \"hex\": \"400B82\", \"fli\": \"SHT8A\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.60448, \"lon\": -1.92552, \"alt\": 26000, \"gda\": \"A\", \"spd\": 441, \"trk\": 333, \"vrt\": -64, \"tmp\": -36, \"wsp\": 74, \"wdi\": 188, \"cat\": \"A3\", \"org\": \"EGLL\", \"dst\": \"EGPH\", \"opr\": \"BAW\", \"typ\": \"A319\", \"reg\": \"G-DBCD\", \"dis\": 189.9, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"5451\", \"tru\": 5874, \"lla\": 6, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1012.8, \"alts\": 26016, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 331273031, \"hex\": \"4CAE8D\", \"fli\": \"RYR49CL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.60073, \"lon\": -3.64311, \"alt\": 35000, \"gda\": \"A\", \"spd\": 434, \"trk\": 102, \"vrt\": -64, \"tmp\": -50, \"wsp\": 45, \"wdi\": 216, \"cat\": \"A3\", \"org\": \"EICK\", \"dst\": \"EGGW\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 97.8, \"dbm\": -73, \"cou\": \"Irel\", \"squ\": \"6352\", \"tru\": 9146, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 35275, \"qnhs\": 1013.6, \"alts\": 35008, \"hdgs\": 105, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 311695296, \"hex\": \"403FBB\", \"fli\": \"GBXVU\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2500, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"P28A\", \"typ\": \"P28A\", \"reg\": \"G-BXVU\", \"dis\": null, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 88, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 276276000, \"hex\": \"4CA4F4\", \"fli\": \"RYR13TL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.47397, \"lon\": -1.74408, \"alt\": 23025, \"gda\": \"A\", \"spd\": 413, \"trk\": 97, \"vrt\": 0, \"tmp\": -29, \"wsp\": 73, \"wdi\": 200, \"cat\": \"A3\", \"org\": \"EGGD\", \"dst\": \"EPKK\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DPP\", \"dis\": 62.5, \"dbm\": -68, \"cou\": \"Irel\", \"squ\": \"0577\", \"tru\": 4780, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 23325, \"qnhs\": 1013.6, \"alts\": 23008, \"hdgs\": 107, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 238577234, \"hex\": \"407501\", \"fli\": \"GKYLA\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.56852, \"lon\": -2.40295, \"alt\": 3275, \"gda\": \"A\", \"spd\": 171, \"trk\": 101, \"vrt\": -128, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"SR22\", \"typ\": \"SR22\", \"reg\": \"G-KYLA\", \"dis\": 38.7, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"3712\", \"tru\": 10908, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 3400, \"qnhs\": 1009.6, \"alts\": 3200, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178282, \"ns\": 962077656, \"hex\": \"4076B1\", \"fli\": \"TOM88K\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.26567, \"lon\": -6.99951, \"alt\": 36000, \"gda\": \"A\", \"spd\": 463, \"trk\": 213, \"vrt\": 0, \"tmp\": -51, \"wsp\": 94, \"wdi\": 312, \"cat\": \"A3\", \"org\": \"EGNT\", \"dst\": \"GCLP\", \"opr\": \"TOM\", \"typ\": \"B738\", \"reg\": \"G-TAWX\", \"dis\": 322.4, \"dbm\": -78, \"cou\": \"U.K.\", \"squ\": \"4223\", \"tru\": 4911, \"lla\": 12, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36000, \"hdgs\": 222, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 301525906, \"hex\": \"406D92\", \"fli\": \"EZY49AD\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.38053, \"lon\": -1.4615, \"alt\": 9775, \"gda\": \"A\", \"spd\": 268, \"trk\": 321, \"vrt\": -896, \"tmp\": 0, \"wsp\": 26, \"wdi\": 206, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZOM\", \"dis\": 78, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"3244\", \"tru\": 3353, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 10025, \"qnhs\": 1013.6, \"alts\": 8000, \"hdgs\": 315, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178283, \"ns\": 433376500, \"hex\": \"4932A1\", \"fli\": \"NJE026G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.57495, \"lon\": -2.16, \"alt\": 41000, \"gda\": \"A\", \"spd\": 445, \"trk\": 109, \"vrt\": -64, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A2\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": \"CS-LUA\", \"dis\": 38.9, \"dbm\": -76, \"cou\": \"Port\", \"squ\": \"2065\", \"tru\": 7238, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 41425, \"qnhs\": 1013.6, \"alts\": 40992, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 287238546, \"hex\": \"ABBA6C\", \"fli\": \"FDX34\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.38163, \"lon\": -2.03826, \"alt\": 23300, \"gda\": \"A\", \"spd\": 443, \"trk\": 102, \"vrt\": -2304, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"KIND\", \"dst\": \"EGSS\", \"opr\": \"FDX\", \"typ\": \"B77L\", \"reg\": \"N855FD\", \"dis\": 61.9, \"dbm\": -66, \"cou\": \"USA \", \"squ\": \"5151\", \"tru\": 19563, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 23675, \"qnhs\": 1012.8, \"alts\": 18016, \"hdgs\": 114, \"timeRecorded\": 1729178284644 },\n    { \"uti\": 1729178284, \"ns\": 326765687, \"hex\": \"4CADC1\", \"fli\": \"RYR859D\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.35978, \"lon\": -1.79657, \"alt\": 21125, \"gda\": \"A\", \"spd\": 421, \"trk\": 96, \"vrt\": -2432, \"tmp\": -23, \"wsp\": 67, \"wdi\": 205, \"cat\": \"A3\", \"org\": \"EIKY\", \"dst\": \"EGGW\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 71, \"dbm\": -64, \"cou\": \"Irel\", \"squ\": \"7736\", \"tru\": 18166, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 21525, \"qnhs\": 1013.6, \"alts\": 18016, \"hdgs\": 107, \"timeRecorded\": 1729178284645 },\n    { \"uti\": 1729178283, \"ns\": 15991562, \"hex\": \"4073A0\", \"fli\": \"EZY48KT\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.93593, \"lon\": 0.98129, \"alt\": 37000, \"gda\": \"A\", \"spd\": 442, \"trk\": 108, \"vrt\": 0, \"tmp\": -56, \"wsp\": 63, \"wdi\": 202, \"cat\": \"A3\", \"org\": \"LIPZ\", \"dst\": \"LFPO\", \"opr\": \"EZY\", \"typ\": \"A20N\", \"reg\": \"G-UZHC\", \"dis\": 250.6, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"3405\", \"tru\": 4100, \"lla\": 10, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 37450, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 0, \"timeRecorded\": 1729178284655 },\n    { \"uti\": 1729178284, \"ns\": 308917218, \"hex\": \"407F19\", \"fli\": \"VIR135G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.80438, \"lon\": -2.40667, \"alt\": 23700, \"gda\": \"A\", \"spd\": 422, \"trk\": 282, \"vrt\": 1280, \"tmp\": -29, \"wsp\": 68, \"wdi\": 199, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"KMCO\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 13.6, \"dbm\": -68, \"cou\": \"U.K.\", \"squ\": \"6330\", \"tru\": 3425, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 23950, \"qnhs\": 1013.6, \"alts\": 30016, \"hdgs\": 273, \"timeRecorded\": 1729178284655 },\n    { \"uti\": 1729178280, \"ns\": 621513890, \"hex\": \"4CA9EC\", \"fli\": \"RYR41HZ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.38029, \"lon\": -3.65772, \"alt\": 27000, \"gda\": \"A\", \"spd\": 374, \"trk\": 98, \"vrt\": 0, \"tmp\": -38, \"wsp\": 127, \"wdi\": 196, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGBB\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EVO\", \"dis\": 186.6, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"5176\", \"tru\": 4076, \"lla\": 31, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 27025, \"qnhs\": 1013.6, \"alts\": 27008, \"hdgs\": 136, \"timeRecorded\": 1729178284655 },\n    { \"uti\": 1729178284, \"ns\": 161131453, \"hex\": \"4CA280\", \"fli\": \"EIN7TE\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.39612, \"lon\": -5.81538, \"alt\": 36000, \"gda\": \"A\", \"spd\": 441, \"trk\": 337, \"vrt\": 0, \"tmp\": -48, \"wsp\": 29, \"wdi\": 7, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-DEJ\", \"dis\": 296.6, \"dbm\": -83, \"cou\": \"Irel\", \"squ\": \"7467\", \"tru\": 3077, \"lla\": 11, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1012.8, \"alts\": 36000, \"timeRecorded\": 1729178284655 },\n    { \"uti\": 1729178284, \"ns\": 63211796, \"hex\": \"407FAE\", \"fli\": \"TOM4ML\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.12067, \"lon\": -3.99628, \"alt\": 37000, \"gda\": \"A\", \"spd\": 452, \"trk\": 206, \"vrt\": 64, \"tmp\": -49, \"wsp\": 28, \"wdi\": 286, \"cat\": \"A3\", \"org\": \"EGGD\", \"dst\": \"LEMH\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 332.2, \"dbm\": -84, \"cou\": \"U.K.\", \"squ\": \"7506\", \"tru\": 9773, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37450, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 209, \"timeRecorded\": 1729178284655 },\n    { \"uti\": 1729178284, \"ns\": 259665859, \"hex\": \"406D78\", \"fli\": \"BAW243\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.65467, \"lon\": -5.75264, \"alt\": 34000, \"gda\": \"A\", \"spd\": 448, \"trk\": 309, \"vrt\": -64, \"tmp\": -52, \"wsp\": 54, \"wdi\": 358, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"MMMX\", \"opr\": \"BAW\", \"typ\": \"B789\", \"reg\": \"G-ZBKB\", \"dis\": 247.9, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"6337\", \"tru\": 15311, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 34175, \"qnhs\": 1012.8, \"alts\": 34016, \"hdgs\": 313, \"timeRecorded\": 1729178284655 },\n    { \"uti\": 1729178284, \"ns\": 240297375, \"hex\": \"440179\", \"fli\": \"EJU16VC\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.45016, \"lon\": -3.47873, \"alt\": 32500, \"gda\": \"A\", \"spd\": 492, \"trk\": 7, \"vrt\": -1024, \"tmp\": -46, \"wsp\": 38, \"wdi\": 177, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EJU\", \"typ\": \"A319\", \"reg\": \"OE-LQJ\", \"dis\": 95.3, \"dbm\": -72, \"cou\": \"Aust\", \"squ\": \"2271\", \"tru\": 8595, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 32675, \"qnhs\": 1013.6, \"alts\": 31008, \"hdgs\": 0, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 199883421, \"hex\": \"405A49\", \"fli\": \"BAW8X\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.5868, \"lon\": -1.97566, \"alt\": 25925, \"gda\": \"A\", \"spd\": 351, \"trk\": 140, \"vrt\": -1024, \"tmp\": -37, \"wsp\": 89, \"wdi\": 204, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGLL\", \"opr\": \"BAW\", \"typ\": \"A320\", \"reg\": \"G-EUYA\", \"dis\": 78.4, \"dbm\": -70, \"cou\": \"U.K.\", \"squ\": \"6020\", \"tru\": 13825, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 26225, \"qnhs\": 1012.8, \"alts\": 20000, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178282, \"ns\": 132545671, \"hex\": \"3C5465\", \"fli\": \"DLH1529\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.13393, \"lon\": -0.00129, \"alt\": 37000, \"gda\": \"A\", \"spd\": 447, \"trk\": 108, \"vrt\": 64, \"tmp\": -57, \"wsp\": 74, \"wdi\": 200, \"cat\": \"A3\", \"org\": \"EGAC\", \"dst\": \"EDDF\", \"opr\": \"CLH\", \"typ\": \"E190\", \"reg\": \"D-AECE\", \"dis\": 207.1, \"dbm\": -84, \"cou\": \"Germ\", \"squ\": \"2071\", \"tru\": 7446, \"lla\": 137, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37475, \"qnhs\": 1013.6, \"alts\": 37024, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 52760843, \"hex\": \"4CAD7E\", \"fli\": \"EIN1WM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.42065, \"lon\": -4.64738, \"alt\": 29025, \"gda\": \"A\", \"spd\": 463, \"trk\": 93, \"vrt\": 1152, \"tmp\": -41, \"wsp\": 46, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGLL\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 229.9, \"dbm\": -76, \"cou\": \"Irel\", \"squ\": \"4221\", \"tru\": 771, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 29075, \"qnhs\": 1012.8, \"alts\": 32992, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 322001015, \"hex\": \"407DC4\", \"fli\": \"EDC042B\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.27841, \"lon\": -3.51234, \"alt\": 33525, \"gda\": \"A\", \"spd\": 481, \"trk\": 7, \"vrt\": -1344, \"tmp\": -47, \"wsp\": 34, \"wdi\": 195, \"cat\": \"A2\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 108.7, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"5503\", \"tru\": 8475, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 33825, \"qnhs\": 1012.8, \"alts\": 31008, \"hdgs\": 6, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 286883156, \"hex\": \"400F52\", \"fli\": \"AOS56\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 4525, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"WYC\", \"typ\": \"DA42\", \"reg\": \"G-CDXK\", \"dis\": null, \"dbm\": -58, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 1878, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 251355781, \"hex\": \"406D90\", \"fli\": \"EZY85FB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.90329, \"lon\": -1.97945, \"alt\": 32375, \"gda\": \"A\", \"spd\": 349, \"trk\": 152, \"vrt\": -832, \"tmp\": -54, \"wsp\": 84, \"wdi\": 195, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"LSGG\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZOK\", \"dis\": 112.5, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"1140\", \"tru\": 8954, \"lla\": 5, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 32750, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 160, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 329991953, \"hex\": \"40643D\", \"fli\": \"EZY62RW\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.79919, \"lon\": -2.50589, \"alt\": 34850, \"gda\": \"A\", \"spd\": 406, \"trk\": 204, \"vrt\": 640, \"tmp\": -54, \"wsp\": 39, \"wdi\": 218, \"cat\": \"A3\", \"org\": \"EGGW\", \"dst\": \"LSZH\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZUC\", \"dis\": 235.2, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"5407\", \"tru\": 4351, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 0, \"altg\": 35225, \"qnhs\": 1013.6, \"alts\": 35008, \"hdgs\": 205, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 287039093, \"hex\": \"4CAC56\", \"fli\": \"RYR37PZ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.23952, \"lon\": -2.72265, \"alt\": 32000, \"gda\": \"A\", \"spd\": 493, \"trk\": 18, \"vrt\": 0, \"tmp\": -49, \"wsp\": 89, \"wdi\": 171, \"cat\": \"A3\", \"org\": \"LEMD\", \"dst\": \"EGPH\", \"opr\": \"RYR\", \"typ\": \"B38M\", \"reg\": \"EI-HGT\", \"dis\": 150.1, \"dbm\": -80, \"cou\": \"Irel\", \"squ\": \"7456\", \"tru\": 22549, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 32150, \"qnhs\": 1013.6, \"alts\": 32000, \"hdgs\": 23, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 139888453, \"hex\": \"407F42\", \"fli\": \"EAG5DB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.22102, \"lon\": -2.98875, \"alt\": 18000, \"gda\": \"A\", \"spd\": 306, \"trk\": 332, \"vrt\": 64, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A2\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 152.4, \"dbm\": -78, \"cou\": \"U.K.\", \"squ\": \"5156\", \"tru\": 20066, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 18075, \"qnhs\": 1013.6, \"alts\": 18016, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 327890000, \"hex\": \"4D0128\", \"fli\": \"CLX38B\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.83186, \"lon\": -0.58128, \"alt\": 35000, \"gda\": \"A\", \"spd\": 454, \"trk\": 112, \"vrt\": 0, \"tmp\": -57, \"wsp\": 71, \"wdi\": 190, \"cat\": \"A5\", \"org\": \"KLAX\", \"dst\": \"ELLX\", \"opr\": \"CLX\", \"typ\": \"B744\", \"reg\": \"LX-SCV\", \"dis\": 119.2, \"dbm\": -74, \"cou\": \"Luxe\", \"squ\": \"1142\", \"tru\": 18798, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 35325, \"qnhs\": 1013.6, \"alts\": 35008, \"hdgs\": 119, \"timeRecorded\": 1729178284656 },\n    { \"uti\": 1729178284, \"ns\": 322593468, \"hex\": \"407AC1\", \"fli\": \"TOM8AW\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.004, \"lon\": -2.30294, \"alt\": 37000, \"gda\": \"A\", \"spd\": 422, \"trk\": 212, \"vrt\": 0, \"tmp\": -53, \"wsp\": 32, \"wdi\": 223, \"cat\": \"A3\", \"org\": \"EGNX\", \"dst\": \"GCRR\", \"opr\": \"TOM\", \"typ\": \"B38M\", \"reg\": \"G-TUMO\", \"dis\": 212.1, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"2024\", \"tru\": 17476, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 213, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 329426140, \"hex\": \"449CA5\", \"fli\": \"OOGEE\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.41479, \"lon\": -0.73985, \"alt\": 28600, \"gda\": \"A\", \"spd\": 307, \"trk\": 319, \"vrt\": -576, \"tmp\": -40, \"wsp\": 82, \"wdi\": 199, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PC12\", \"typ\": \"PC12\", \"reg\": \"OO-GEE\", \"dis\": 121, \"dbm\": -74, \"cou\": \"Belg\", \"squ\": \"7341\", \"tru\": 4088, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 29050, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 300, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 319921375, \"hex\": \"4CA2C9\", \"fli\": \"EIN5RL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.58551, \"lon\": -1.32988, \"alt\": 36000, \"gda\": \"A\", \"spd\": 450, \"trk\": 299, \"vrt\": 0, \"tmp\": -52, \"wsp\": 50, \"wdi\": 197, \"cat\": \"A3\", \"org\": \"LFPG\", \"dst\": \"EIDW\", \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-DEP\", \"dis\": 76.8, \"dbm\": -78, \"cou\": \"Irel\", \"squ\": \"5645\", \"tru\": 4717, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 36400, \"qnhs\": 1012.8, \"alts\": 36000, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178283, \"ns\": 639982140, \"hex\": \"43EE32\", \"fli\": \"2COOL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.09977, \"lon\": -2.12068, \"alt\": 1925, \"gda\": \"A\", \"spd\": 250, \"trk\": 146, \"vrt\": -576, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"P180\", \"typ\": \"P180\", \"reg\": \"2-COOL\", \"dis\": 24.7, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 10788, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 2000, \"qnhs\": 1010.4, \"alts\": 2016, \"hdgs\": 110, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 319038125, \"hex\": \"3C66A7\", \"fli\": \"DLH3WT\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.59145, \"lon\": -2.70167, \"alt\": 37950, \"gda\": \"A\", \"spd\": 443, \"trk\": 279, \"vrt\": 64, \"tmp\": -51, \"wsp\": 17, \"wdi\": 231, \"cat\": \"A3\", \"org\": \"EDDM\", \"dst\": \"EIDW\", \"opr\": \"DLH\", \"typ\": \"A320\", \"reg\": \"D-AIUG\", \"dis\": 188.4, \"dbm\": -76, \"cou\": \"Germ\", \"squ\": \"6650\", \"tru\": 7999, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38225, \"qnhs\": 1012.8, \"alts\": 38016, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 212487328, \"hex\": \"4D2104\", \"fli\": \"AXY396V\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.16687, \"lon\": -2.16749, \"alt\": 26925, \"gda\": \"A\", \"spd\": 365, \"trk\": 204, \"vrt\": 512, \"tmp\": -35, \"wsp\": 67, \"wdi\": 224, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"AXY\", \"typ\": \"CL85\", \"reg\": \"9H-BOO\", \"dis\": 194.2, \"dbm\": -87, \"cou\": \"Malt\", \"squ\": \"7704\", \"tru\": 125, \"lla\": 7, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 27350, \"qnhs\": 1012.8, \"alts\": 32992, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 314910328, \"hex\": \"406118\", \"fli\": \"GZPPY\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.81322, \"lon\": -1.96388, \"alt\": 3325, \"gda\": \"A\", \"spd\": 56, \"trk\": 113, \"vrt\": -704, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PA18\", \"typ\": \"PA18\", \"reg\": \"G-ZPPY\", \"dis\": 26.4, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 3396, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 3525, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 313880015, \"hex\": \"45AA53\", \"fli\": \"NOZ1820\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.10072, \"lon\": -0.68718, \"alt\": 35025, \"gda\": \"A\", \"spd\": 400, \"trk\": 231, \"vrt\": 64, \"tmp\": -59, \"wsp\": 54, \"wdi\": 197, \"cat\": \"A3\", \"org\": \"ENGM\", \"dst\": \"LPFR\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 144.2, \"dbm\": -83, \"cou\": \"Denm\", \"squ\": \"2254\", \"tru\": 3609, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1012.8, \"alts\": 35008, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 298517250, \"hex\": \"400DAE\", \"fli\": \"EZY21LR\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.66109, \"lon\": -2.93634, \"alt\": 37000, \"gda\": \"A\", \"spd\": 420, \"trk\": 162, \"vrt\": 0, \"tmp\": -49, \"wsp\": 49, \"wdi\": 229, \"cat\": \"A3\", \"org\": \"LICJ\", \"dst\": \"EGGP\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 198.8, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"6341\", \"tru\": 5518, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 37225, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 0, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 110628968, \"hex\": \"485207\", \"fli\": \"KLM43Y\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.49574, \"lon\": -1.71306, \"alt\": 38000, \"gda\": \"A\", \"spd\": 446, \"trk\": 280, \"vrt\": -64, \"tmp\": -50, \"wsp\": 17, \"wdi\": 254, \"cat\": \"A3\", \"org\": \"EHAM\", \"dst\": \"LPPR\", \"opr\": \"KLC\", \"typ\": \"E190\", \"reg\": \"PH-EXF\", \"dis\": 180.6, \"dbm\": -82, \"cou\": \"Neth\", \"squ\": \"6277\", \"tru\": 2219, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 38325, \"qnhs\": 1013.6, \"alts\": 38016, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178284, \"ns\": 275923062, \"hex\": \"40797C\", \"fli\": \"BAW7CP\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.68857, \"lon\": -1.1556, \"alt\": 20000, \"gda\": \"A\", \"spd\": 454, \"trk\": 334, \"vrt\": 1664, \"tmp\": -19, \"wsp\": 47, \"wdi\": 197, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"BAW\", \"typ\": \"B78X\", \"reg\": \"G-ZBLE\", \"dis\": 116.8, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"1173\", \"tru\": 1674, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 20225, \"qnhs\": 1012.8, \"alts\": 26016, \"hdgs\": 330, \"timeRecorded\": 1729178284657 },\n    { \"uti\": 1729178283, \"ns\": 996524000, \"hex\": \"346499\", \"fli\": \"IBE31FB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.9463, \"lon\": -1.02745, \"alt\": 14075, \"gda\": \"A\", \"spd\": 371, \"trk\": 45, \"vrt\": -2304, \"tmp\": null, \"wsp\": 29, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"LPPT\", \"dst\": \"LEMD\", \"opr\": \"IBE\", \"typ\": \"A20N\", \"reg\": \"EC-NJY\", \"dis\": 139.5, \"dbm\": -80, \"cou\": \"Spai\", \"squ\": \"7465\", \"tru\": 117, \"lla\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"pic\": 11, \"altg\": 14375, \"timeRecorded\": 1729178284658 },\n    { \"uti\": 1729178284, \"ns\": 303236109, \"hex\": \"4CA6C4\", \"fli\": \"EIN545\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.27883, \"lon\": -0.25703, \"alt\": 35950, \"gda\": \"A\", \"spd\": 457, \"trk\": 294, \"vrt\": -64, \"tmp\": -58, \"wsp\": 71, \"wdi\": 187, \"cat\": \"A3\", \"org\": \"LFMN\", \"dst\": \"EIDW\", \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-DVI\", \"dis\": 158.5, \"dbm\": -78, \"cou\": \"Irel\", \"squ\": \"4066\", \"tru\": 565, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 36400, \"qnhs\": 1012.8, \"alts\": 36000, \"timeRecorded\": 1729178284658 },\n    { \"uti\": 1729178284, \"ns\": 36300640, \"hex\": \"407DC6\", \"fli\": \"EDC042B\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": null, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": -2496, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"KFAB\", \"typ\": \"KFAB\", \"reg\": \"G-CMLZ\", \"dis\": null, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"5503\", \"tru\": 1, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178284658 },\n    { \"uti\": 1729178284, \"ns\": 236285921, \"hex\": \"AAC6EE\", \"fli\": \"AAL735\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.18589, \"lon\": -6.94611, \"alt\": 35775, \"gda\": \"A\", \"spd\": 438, \"trk\": 304, \"vrt\": 832, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"KCLT\", \"opr\": \"AAL\", \"typ\": \"B772\", \"reg\": \"N794AN\", \"dis\": 343.6, \"dbm\": -82, \"cou\": \"USA \", \"squ\": \"7023\", \"tru\": 13696, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 36050, \"qnhs\": 1012.8, \"alts\": 36000, \"hdgs\": 308, \"timeRecorded\": 1729178284658 },\n    { \"uti\": 1729178289, \"ns\": 343490531, \"hex\": \"4CA702\", \"fli\": \"RYR73DY\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.47686, \"lon\": -0.54489, \"alt\": 24975, \"gda\": \"A\", \"spd\": 366, \"trk\": 192, \"vrt\": 2240, \"tmp\": -32, \"wsp\": 63, \"wdi\": 211, \"cat\": \"A3\", \"org\": \"EGSS\", \"dst\": \"LEBL\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EBE\", \"dis\": 131.1, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"5264\", \"tru\": 677, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 25350, \"qnhs\": 1013.6, \"alts\": 28992, \"hdgs\": 195, \"timeRecorded\": 1729178289694 },\n    { \"uti\": 1729178289, \"ns\": 347657312, \"hex\": \"4CA837\", \"fli\": \"EIN16T\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.5479, \"lon\": -1.19621, \"alt\": 14250, \"gda\": \"A\", \"spd\": 363, \"trk\": 296, \"vrt\": 1152, \"tmp\": -8, \"wsp\": 34, \"wdi\": 199, \"cat\": \"A3\", \"org\": \"EGLL\", \"dst\": \"EIDW\", \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-GAM\", \"dis\": 86.9, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"6032\", \"tru\": 285, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 14450, \"qnhs\": 1012.8, \"alts\": 18016, \"timeRecorded\": 1729178289694 },\n    { \"uti\": 1729178289, \"ns\": 317372937, \"hex\": \"406440\", \"fli\": \"EZY102L\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.15691, \"lon\": -0.34836, \"alt\": 16975, \"gda\": \"A\", \"spd\": 392, \"trk\": 324, \"vrt\": 2240, \"tmp\": -11, \"wsp\": 34, \"wdi\": 187, \"cat\": \"A3\", \"org\": \"EGGW\", \"dst\": \"EGPF\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZUF\", \"dis\": 137.1, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"6460\", \"tru\": 29, \"lla\": 2, \"alr\": 0, \"spi\": false, \"pic\": 11, \"altg\": 17200, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178284, \"ns\": 481227625, \"hex\": \"400CEA\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": null, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"R44\", \"typ\": \"R44\", \"reg\": \"G-EVEE\", \"dis\": null, \"dbm\": -81, \"cou\": \"U.K.\", \"squ\": null, \"tru\": 5, \"lla\": null, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 299107703, \"hex\": \"407DD2\", \"fli\": \"AOS54\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.31647, \"lon\": -2.49319, \"alt\": 2350, \"gda\": \"A\", \"spd\": 134, \"trk\": 99, \"vrt\": -128, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"DA40\", \"typ\": \"DA40\", \"reg\": \"G-SUEG\", \"dis\": 46.6, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"1177\", \"tru\": 62, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 2450, \"qnhs\": 1010.4, \"alts\": 2208, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 343985359, \"hex\": \"40747F\", \"fli\": \"PYN04\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.02876, \"lon\": -5.71777, \"alt\": 23025, \"gda\": \"A\", \"spd\": 272, \"trk\": 182, \"vrt\": -64, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PYN\", \"typ\": \"BE20\", \"reg\": \"G-FLYK\", \"dis\": 261.7, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"6207\", \"tru\": 38, \"lla\": 7, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 22875, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 338872984, \"hex\": \"407133\", \"fli\": \"SXN10\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2500, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A7\", \"org\": null, \"dst\": null, \"opr\": \"SXN\", \"typ\": \"A109\", \"reg\": \"G-KLNH\", \"dis\": null, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"0010\", \"tru\": 101, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 335408265, \"hex\": \"4CA97A\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 40000, \"gda\": \"A\", \"spd\": 435, \"trk\": 319, \"vrt\": -64, \"tmp\": -53, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-ESS\", \"dis\": null, \"dbm\": -83, \"cou\": \"Irel\", \"squ\": \"2315\", \"tru\": 80, \"lla\": null, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 40500, \"qnhs\": 1013.6, \"alts\": 40000, \"hdgs\": 319, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 235891812, \"hex\": \"4012BB\", \"fli\": \"GVICC\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 3900, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"P28A\", \"typ\": \"P28A\", \"reg\": \"G-VICC\", \"dis\": null, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 76, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 231189640, \"hex\": \"4CA8D5\", \"fli\": \"RYR76TX\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.48817, \"lon\": -1.20277, \"alt\": 19375, \"gda\": \"A\", \"spd\": 394, \"trk\": 315, \"vrt\": 960, \"tmp\": -19, \"wsp\": 39, \"wdi\": 201, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"EIDW\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-ENJ\", \"dis\": 89.9, \"dbm\": -74, \"cou\": \"Irel\", \"squ\": \"4237\", \"tru\": 674, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 19625, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 310, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 209352765, \"hex\": \"4068CB\", \"fli\": \"EXS8PW\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.57553, \"lon\": -2.77574, \"alt\": 25950, \"gda\": \"A\", \"spd\": 378, \"trk\": 266, \"vrt\": 1984, \"tmp\": -36, \"wsp\": 652, \"wdi\": 50, \"cat\": \"A3\", \"org\": \"LKPR\", \"dst\": \"EGNT\", \"opr\": \"EXS\", \"typ\": \"B733\", \"reg\": \"G-GDFM\", \"dis\": 187.4, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"7673\", \"tru\": 621, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"alts\": 28000, \"hdgs\": 276, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 348330875, \"hex\": \"407F96\", \"fli\": \"TOM97X\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.36125, \"lon\": -1.2104, \"alt\": 18100, \"gda\": \"A\", \"spd\": 328, \"trk\": 156, \"vrt\": 2432, \"tmp\": -16, \"wsp\": 46, \"wdi\": 201, \"cat\": \"A3\", \"org\": \"EGNX\", \"dst\": \"GCLP\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 90.3, \"dbm\": -70, \"cou\": \"U.K.\", \"squ\": \"2003\", \"tru\": 1427, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 18300, \"qnhs\": 1013.6, \"alts\": 22016, \"hdgs\": 160, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 265142484, \"hex\": \"400437\", \"fli\": \"EXS53V\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.23249, \"lon\": -7.03506, \"alt\": 32000, \"gda\": \"A\", \"spd\": 475, \"trk\": 212, \"vrt\": 0, \"tmp\": null, \"wsp\": 111, \"wdi\": 324, \"cat\": \"A4\", \"org\": \"EGCC\", \"dst\": \"LGKL\", \"opr\": \"EXS\", \"typ\": \"B752\", \"reg\": \"G-LSAJ\", \"dis\": 324.5, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"2151\", \"tru\": 193, \"lla\": 11, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 32200, \"qnhs\": 1013.6, \"alts\": 32000, \"hdgs\": 222, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 228531234, \"hex\": \"4D2031\", \"fli\": \"9HSLM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.5328, \"lon\": 0.31696, \"alt\": 38200, \"gda\": \"A\", \"spd\": 426, \"trk\": 273, \"vrt\": 704, \"tmp\": null, \"wsp\": 30, \"wdi\": 204, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 191.9, \"dbm\": -82, \"cou\": \"Malt\", \"squ\": \"3310\", \"tru\": 329, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38600, \"qnhs\": 1012.8, \"alts\": 39008, \"hdgs\": 270, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 54175171, \"hex\": \"40792E\", \"fli\": \"SHT7P\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 54.47077, \"lon\": -3.16548, \"alt\": 36975, \"gda\": \"A\", \"spd\": 436, \"trk\": 154, \"vrt\": 448, \"tmp\": -49, \"wsp\": 50, \"wdi\": 224, \"cat\": \"A3\", \"org\": \"EGPF\", \"dst\": \"EGLL\", \"opr\": \"BAW\", \"typ\": \"A20N\", \"reg\": \"G-TTNK\", \"dis\": 289.9, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"1165\", \"tru\": 192, \"lla\": 9, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 37050, \"qnhs\": 1012.8, \"alts\": 36992, \"hdgs\": 159, \"timeRecorded\": 1729178289699 },\n    { \"uti\": 1729178289, \"ns\": 229378109, \"hex\": \"AB84AB\", \"fli\": \"DAL37\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.19966, \"lon\": -0.81444, \"alt\": 14275, \"gda\": \"A\", \"spd\": 437, \"trk\": 328, \"vrt\": 2816, \"tmp\": -9, \"wsp\": 28, \"wdi\": 198, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"KPDX\", \"opr\": null, \"typ\": null, \"reg\": \"N841MH\", \"dis\": 107.3, \"dbm\": -80, \"cou\": \"USA \", \"squ\": \"7662\", \"tru\": 150, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 14425, \"qnhs\": 1013.6, \"alts\": 16000, \"hdgs\": 325, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178288, \"ns\": 303001015, \"hex\": \"43C92B\", \"fli\": \"SYS666\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.39138, \"lon\": -2.17514, \"alt\": 1625, \"gda\": \"A\", \"spd\": 127, \"trk\": 316, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A7\", \"org\": null, \"dst\": null, \"opr\": \"EC45\", \"typ\": \"EC45\", \"reg\": \"ZM497\", \"dis\": 54.1, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 56, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 1725, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178289, \"ns\": 139122171, \"hex\": \"ABE959\", \"fli\": \"FDX30\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.79507, \"lon\": -5.4237, \"alt\": 39000, \"gda\": \"A\", \"spd\": 497, \"trk\": 98, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"KIND\", \"dst\": \"LFPG\", \"opr\": \"FDX\", \"typ\": \"B77L\", \"reg\": \"N867FD\", \"dis\": 320.9, \"dbm\": -80, \"cou\": \"USA \", \"squ\": \"6336\", \"tru\": 946, \"lla\": 9, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 39500, \"qnhs\": 1012.8, \"alts\": 39008, \"hdgs\": 100, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178289, \"ns\": 295589421, \"hex\": \"4CA8D6\", \"fli\": \"RYR9RY\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.86032, \"lon\": -1.43928, \"alt\": 37000, \"gda\": \"A\", \"spd\": 425, \"trk\": 144, \"vrt\": 0, \"tmp\": -50, \"wsp\": 47, \"wdi\": 204, \"cat\": \"A3\", \"org\": \"EGNT\", \"dst\": \"LEIB\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-ENK\", \"dis\": 60.3, \"dbm\": -66, \"cou\": \"Irel\", \"squ\": \"2014\", \"tru\": 19901, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 37350, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 150, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178284, \"ns\": 760647468, \"hex\": \"4CA4F0\", \"fli\": \"RYR77JV\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.73447, \"lon\": -1.43175, \"alt\": 17900, \"gda\": \"A\", \"spd\": 414, \"trk\": 336, \"vrt\": -3072, \"tmp\": -20, \"wsp\": 38, \"wdi\": 188, \"cat\": \"A3\", \"org\": \"LEMI\", \"dst\": \"EGCC\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DPL\", \"dis\": 109.3, \"dbm\": -74, \"cou\": \"Irel\", \"squ\": \"1053\", \"tru\": 15226, \"lla\": 30, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 18350, \"qnhs\": 1013.6, \"alts\": 14016, \"hdgs\": 333, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178289, \"ns\": 295419359, \"hex\": \"43C563\", \"fli\": \"AXIS41\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 18000, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A6\", \"org\": null, \"dst\": null, \"opr\": \"HAWK\", \"typ\": \"HAWK\", \"reg\": \"ZK032\", \"dis\": null, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"6440\", \"tru\": 849, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178289, \"ns\": 337028781, \"hex\": \"4079F4\", \"fli\": \"GLDGF\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.52639, \"lon\": -2.37251, \"alt\": 2625, \"gda\": \"A\", \"spd\": 137, \"trk\": 197, \"vrt\": -192, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"LDG\", \"typ\": \"DA42\", \"reg\": \"G-LDGF\", \"dis\": 43.1, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"3737\", \"tru\": 488, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 2800, \"qnhs\": 1010.4, \"alts\": 2496, \"timeRecorded\": 1729178289700 },\n    { \"uti\": 1729178289, \"ns\": 243931046, \"hex\": \"402DDE\", \"fli\": \"GGJCD\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2100, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"R22\", \"typ\": \"R22\", \"reg\": \"G-GJCD\", \"dis\": null, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 1232, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 343024156, \"hex\": \"407D5F\", \"fli\": \"EMC3\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.99363, \"lon\": -0.95589, \"alt\": 12875, \"gda\": \"A\", \"spd\": 259, \"trk\": 145, \"vrt\": -832, \"tmp\": -8, \"wsp\": 27, \"wdi\": 201, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"RVR\", \"typ\": \"PC12\", \"reg\": \"G-ISJE\", \"dis\": 93.4, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"6024\", \"tru\": 15958, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 13125, \"qnhs\": 1013.6, \"alts\": 12000, \"hdgs\": 149, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 262068718, \"hex\": \"485207\", \"fli\": \"KLM43Y\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.49802, \"lon\": -1.73479, \"alt\": 38000, \"gda\": \"A\", \"spd\": 445, \"trk\": 280, \"vrt\": -64, \"tmp\": -50, \"wsp\": 20, \"wdi\": 266, \"cat\": \"A3\", \"org\": \"EHAM\", \"dst\": \"LPPR\", \"opr\": \"KLC\", \"typ\": \"E190\", \"reg\": \"PH-EXF\", \"dis\": 180.5, \"dbm\": -81, \"cou\": \"Neth\", \"squ\": \"6277\", \"tru\": 2250, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 38325, \"qnhs\": 1013.6, \"alts\": 38016, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 180035250, \"hex\": \"40797C\", \"fli\": \"BAW7CP\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.69918, \"lon\": -1.164, \"alt\": 20125, \"gda\": \"A\", \"spd\": 455, \"trk\": 334, \"vrt\": 1536, \"tmp\": -21, \"wsp\": 51, \"wdi\": 194, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"BAW\", \"typ\": \"B78X\", \"reg\": \"G-ZBLE\", \"dis\": 117.3, \"dbm\": -76, \"cou\": \"U.K.\", \"squ\": \"1173\", \"tru\": 1723, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 20375, \"qnhs\": 1012.8, \"alts\": 26016, \"hdgs\": 326, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 275562187, \"hex\": \"4CA811\", \"fli\": \"RYR1982\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.65791, \"lon\": -4.09864, \"alt\": 37000, \"gda\": \"A\", \"spd\": 454, \"trk\": 148, \"vrt\": 64, \"tmp\": -50, \"wsp\": 43, \"wdi\": 246, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"LFBZ\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EKR\", \"dis\": 186.6, \"dbm\": -80, \"cou\": \"Irel\", \"squ\": \"6345\", \"tru\": 11494, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 37325, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 147, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 223876265, \"hex\": \"403FBB\", \"fli\": \"GBXVU\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2400, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"P28A\", \"typ\": \"P28A\", \"reg\": \"G-BXVU\", \"dis\": null, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 92, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178288, \"ns\": 733213890, \"hex\": \"344693\", \"fli\": \"VLG833B\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.68274, \"lon\": -2.23312, \"alt\": 32975, \"gda\": \"A\", \"spd\": 371, \"trk\": 197, \"vrt\": 0, \"tmp\": -56, \"wsp\": 68, \"wdi\": 202, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"VLG\", \"typ\": \"A320\", \"reg\": \"EC-MES\", \"dis\": 247.8, \"dbm\": -79, \"cou\": \"Spai\", \"squ\": \"0574\", \"tru\": 1016, \"lla\": 146, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 32992, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 350341390, \"hex\": \"4CA4F4\", \"fli\": \"RYR13TL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.47272, \"lon\": -1.7273, \"alt\": 23000, \"gda\": \"A\", \"spd\": 413, \"trk\": 97, \"vrt\": -128, \"tmp\": -26, \"wsp\": 74, \"wdi\": 198, \"cat\": \"A3\", \"org\": \"EGGD\", \"dst\": \"EPKK\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DPP\", \"dis\": 63.4, \"dbm\": -69, \"cou\": \"Irel\", \"squ\": \"0577\", \"tru\": 4824, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 23300, \"qnhs\": 1013.6, \"alts\": 23008, \"hdgs\": 107, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 339663000, \"hex\": \"4072C8\", \"fli\": \"EZY976M\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.85612, \"lon\": -3.23151, \"alt\": 20900, \"gda\": \"A\", \"spd\": 436, \"trk\": 9, \"vrt\": 1600, \"tmp\": -26, \"wsp\": 66, \"wdi\": 185, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EZY\", \"typ\": \"A20N\", \"reg\": \"G-UZHB\", \"dis\": 63.3, \"dbm\": -69, \"cou\": \"U.K.\", \"squ\": \"6351\", \"tru\": 3794, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 21025, \"qnhs\": 1012.8, \"alts\": 26016, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 332431187, \"hex\": \"4CA2C1\", \"fli\": \"RYR93VQ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.98035, \"lon\": -1.46346, \"alt\": 29575, \"gda\": \"A\", \"spd\": 474, \"trk\": 318, \"vrt\": 1984, \"tmp\": -45, \"wsp\": 74, \"wdi\": 194, \"cat\": \"A3\", \"org\": \"EGGW\", \"dst\": \"EIDW\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DLD\", \"dis\": 131.9, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"5456\", \"tru\": 4625, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 29850, \"qnhs\": 1013.6, \"alts\": 34016, \"hdgs\": 310, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 345972750, \"hex\": \"ABBA6C\", \"fli\": \"FDX34\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.37948, \"lon\": -2.02156, \"alt\": 23100, \"gda\": \"A\", \"spd\": 443, \"trk\": 101, \"vrt\": -2240, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"KIND\", \"dst\": \"EGSS\", \"opr\": \"FDX\", \"typ\": \"B77L\", \"reg\": \"N855FD\", \"dis\": 62.5, \"dbm\": -64, \"cou\": \"USA \", \"squ\": \"5151\", \"tru\": 19641, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 23475, \"qnhs\": 1012.8, \"alts\": 18016, \"hdgs\": 114, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 295529171, \"hex\": \"4CADC1\", \"fli\": \"RYR859D\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.35857, \"lon\": -1.77979, \"alt\": 20925, \"gda\": \"A\", \"spd\": 420, \"trk\": 96, \"vrt\": -2432, \"tmp\": -23, \"wsp\": 67, \"wdi\": 207, \"cat\": \"A3\", \"org\": \"EIKY\", \"dst\": \"EGGW\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 71.7, \"dbm\": -65, \"cou\": \"Irel\", \"squ\": \"7736\", \"tru\": 18214, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 21275, \"qnhs\": 1013.6, \"alts\": 18016, \"hdgs\": 106, \"timeRecorded\": 1729178289705 },\n    { \"uti\": 1729178289, \"ns\": 254535015, \"hex\": \"4CA304\", \"fli\": \"RYR3EG\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.57263, \"lon\": -3.26791, \"alt\": 8200, \"gda\": \"A\", \"spd\": 252, \"trk\": 34, \"vrt\": -1088, \"tmp\": -1, \"wsp\": 17, \"wdi\": 195, \"cat\": \"A3\", \"org\": \"LEMG\", \"dst\": \"EGTE\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DLY\", \"dis\": 163, \"dbm\": -81, \"cou\": \"Irel\", \"squ\": \"7464\", \"tru\": 753, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 8425, \"qnhs\": 1011.2, \"alts\": 4000, \"hdgs\": 35, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 152154390, \"hex\": \"4CAE6D\", \"fli\": \"RYR4DB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.12974, \"lon\": -2.76548, \"alt\": 29025, \"gda\": \"A\", \"spd\": 341, \"trk\": 199, \"vrt\": 1216, \"tmp\": -44, \"wsp\": 90, \"wdi\": 203, \"cat\": \"A3\", \"org\": \"EGNM\", \"dst\": \"GCFV\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 138.7, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"2021\", \"tru\": 3616, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 29175, \"qnhs\": 1013.6, \"alts\": 31008, \"hdgs\": 199, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 205514406, \"hex\": \"405A49\", \"fli\": \"BAW8X\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.58121, \"lon\": -1.96789, \"alt\": 25825, \"gda\": \"A\", \"spd\": 350, \"trk\": 140, \"vrt\": -1024, \"tmp\": -34, \"wsp\": 89, \"wdi\": 204, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGLL\", \"opr\": \"BAW\", \"typ\": \"A320\", \"reg\": \"G-EUYA\", \"dis\": 78, \"dbm\": -68, \"cou\": \"U.K.\", \"squ\": \"6020\", \"tru\": 13911, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 26125, \"qnhs\": 1012.8, \"alts\": 20000, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 339086437, \"hex\": \"407699\", \"fli\": \"VIR24M\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.45223, \"lon\": -3.17558, \"alt\": 34725, \"gda\": \"A\", \"spd\": 515, \"trk\": 96, \"vrt\": -2176, \"tmp\": -47, \"wsp\": 52, \"wdi\": 206, \"cat\": \"A5\", \"org\": \"KLAX\", \"dst\": \"EGLL\", \"opr\": \"VIR\", \"typ\": \"A35K\", \"reg\": \"G-VPRD\", \"dis\": 78.4, \"dbm\": -66, \"cou\": \"U.K.\", \"squ\": \"7650\", \"tru\": 13961, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 34975, \"qnhs\": 1013.6, \"alts\": 27008, \"hdgs\": 101, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 113309625, \"hex\": \"4080DB\", \"fli\": \"BAW5LI\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.83655, \"lon\": -2.25068, \"alt\": 34425, \"gda\": \"A\", \"spd\": 419, \"trk\": 204, \"vrt\": 384, \"tmp\": -55, \"wsp\": 42, \"wdi\": 216, \"cat\": \"A3\", \"org\": \"EGLL\", \"dst\": \"LPPT\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 230.7, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"0502\", \"tru\": 4368, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 34825, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 205, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 283328453, \"hex\": \"39CF0C\", \"fli\": \"AFR378G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.52457, \"lon\": -1.16997, \"alt\": 38000, \"gda\": \"A\", \"spd\": 492, \"trk\": 302, \"vrt\": 0, \"tmp\": -53, \"wsp\": 39, \"wdi\": 213, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"AFR\", \"typ\": \"A359\", \"reg\": \"F-HTYM\", \"dis\": 89.8, \"dbm\": -74, \"cou\": \"Fran\", \"squ\": \"5607\", \"tru\": 3578, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 38375, \"qnhs\": 1013.6, \"alts\": 38016, \"hdgs\": 297, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 337653781, \"hex\": \"400F52\", \"fli\": \"AOS56\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 4550, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"WYC\", \"typ\": \"DA42\", \"reg\": \"G-CDXK\", \"dis\": null, \"dbm\": -58, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 1891, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178289, \"ns\": 351583156, \"hex\": \"4CA64E\", \"fli\": \"RYR831R\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.51004, \"lon\": -0.66423, \"alt\": 38000, \"gda\": \"A\", \"spd\": 439, \"trk\": 285, \"vrt\": 0, \"tmp\": -53, \"wsp\": 39, \"wdi\": 210, \"cat\": \"A3\", \"org\": \"LFOB\", \"dst\": \"EIDW\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DYL\", \"dis\": 122.1, \"dbm\": -69, \"cou\": \"Irel\", \"squ\": \"5621\", \"tru\": 4722, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 38400, \"qnhs\": 1013.6, \"alts\": 38016, \"hdgs\": 280, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178288, \"ns\": 110623296, \"hex\": \"4CA7B5\", \"fli\": \"RYR1YR\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 36000, \"gda\": \"A\", \"spd\": 477, \"trk\": 5, \"vrt\": 0, \"tmp\": -59, \"wsp\": null, \"wdi\": null, \"cat\": \"A3\", \"org\": \"LIRN\", \"dst\": \"LDZA\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-EFZ\", \"dis\": null, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"5537\", \"tru\": 145, \"lla\": null, \"alr\": 0, \"spi\": false, \"pic\": 11, \"altg\": 36425, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178288, \"ns\": 901150734, \"hex\": \"4CADC2\", \"fli\": \"RYR2DP\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.53758, \"lon\": -3.821, \"alt\": 35675, \"gda\": \"A\", \"spd\": 438, \"trk\": 205, \"vrt\": 1024, \"tmp\": -52, \"wsp\": 33, \"wdi\": 256, \"cat\": \"A3\", \"org\": \"EGGD\", \"dst\": \"GCRR\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 284.4, \"dbm\": -83, \"cou\": \"Irel\", \"squ\": \"5252\", \"tru\": 254, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 36025, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 208, \"timeRecorded\": 1729178289706 },\n    { \"uti\": 1729178288, \"ns\": 992839843, \"hex\": \"407180\", \"fli\": \"EXS61LV\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.03278, \"lon\": -6.20131, \"alt\": 36000, \"gda\": \"A\", \"spd\": 451, \"trk\": 213, \"vrt\": 64, \"tmp\": -49, \"wsp\": 69, \"wdi\": 302, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EXS\", \"typ\": \"B738\", \"reg\": \"G-JZBD\", \"dis\": 291.1, \"dbm\": -83, \"cou\": \"U.K.\", \"squ\": \"5462\", \"tru\": 1588, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36000, \"hdgs\": 220, \"timeRecorded\": 1729178289719 },\n    { \"uti\": 1729178289, \"ns\": 349005468, \"hex\": \"406D92\", \"fli\": \"EZY49AD\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.38612, \"lon\": -1.46903, \"alt\": 9675, \"gda\": \"A\", \"spd\": 266, \"trk\": 321, \"vrt\": -1152, \"tmp\": -3, \"wsp\": 27, \"wdi\": 202, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZOM\", \"dis\": 78.1, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"3244\", \"tru\": 3387, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 9925, \"qnhs\": 1013.6, \"alts\": 8000, \"hdgs\": 315, \"timeRecorded\": 1729178289719 },\n    { \"uti\": 1729178289, \"ns\": 348625000, \"hex\": \"406D6F\", \"fli\": \"TOM9429\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.73051, \"lon\": -3.05888, \"alt\": 40975, \"gda\": \"A\", \"spd\": 483, \"trk\": 187, \"vrt\": 64, \"tmp\": -51, \"wsp\": 40, \"wdi\": 254, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"TOM\", \"typ\": \"B788\", \"reg\": \"G-TUIH\", \"dis\": 141.2, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"0516\", \"tru\": 19245, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 41500, \"qnhs\": 1012.8, \"alts\": 40992, \"hdgs\": 191, \"timeRecorded\": 1729178289719 },\n    { \"uti\": 1729178289, \"ns\": 333040687, \"hex\": \"868056\", \"fli\": \"JAL45\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.9273, \"lon\": -1.18519, \"alt\": 37000, \"gda\": \"A\", \"spd\": 461, \"trk\": 144, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"RJTT\", \"dst\": \"LFPG\", \"opr\": \"JAL\", \"typ\": \"B77W\", \"reg\": \"JA738J\", \"dis\": 77.4, \"dbm\": -70, \"cou\": \"Japa\", \"squ\": \"2702\", \"tru\": 15736, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37375, \"qnhs\": 1012.8, \"alts\": 36992, \"hdgs\": 150, \"timeRecorded\": 1729178289719 },\n    { \"uti\": 1729178289, \"ns\": 126092046, \"hex\": \"406D4E\", \"fli\": \"CFE919\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.39209, \"lon\": -4.00122, \"alt\": 31725, \"gda\": \"A\", \"spd\": 447, \"trk\": 105, \"vrt\": 1728, \"tmp\": -43, \"wsp\": 93, \"wdi\": 204, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGLC\", \"opr\": \"CFE\", \"typ\": \"E190\", \"reg\": \"G-LCYV\", \"dis\": 200, \"dbm\": -84, \"cou\": \"U.K.\", \"squ\": \"6015\", \"tru\": 1920, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 31750, \"qnhs\": 1013.6, \"alts\": 37024, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 296027687, \"hex\": \"4856ED\", \"fli\": \"PHBRA\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.19815, \"lon\": -0.5304, \"alt\": 27700, \"gda\": \"A\", \"spd\": 325, \"trk\": 343, \"vrt\": -256, \"tmp\": -39, \"wsp\": 84, \"wdi\": 208, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PC12\", \"typ\": \"PC12\", \"reg\": \"PH-BRA\", \"dis\": 125.9, \"dbm\": -79, \"cou\": \"Neth\", \"squ\": \"6276\", \"tru\": 1124, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 28200, \"qnhs\": 1013.6, \"alts\": 24000, \"hdgs\": 329, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 149319875, \"hex\": \"4A5D2E\", \"fli\": \"HYS244\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.28346, \"lon\": -1.51749, \"alt\": 37000, \"gda\": \"A\", \"spd\": 463, \"trk\": 100, \"vrt\": 0, \"tmp\": -52, \"wsp\": 48, \"wdi\": 200, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"LRIA\", \"opr\": \"EC20\", \"typ\": \"EC20\", \"reg\": \"YR-WIN\", \"dis\": 161.6, \"dbm\": -77, \"cou\": \"Roma\", \"squ\": \"2275\", \"tru\": 12239, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 37275, \"qnhs\": 1012.8, \"alts\": 36992, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 266231671, \"hex\": \"440179\", \"fli\": \"EJU16VC\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.45954, \"lon\": -3.47687, \"alt\": 32425, \"gda\": \"A\", \"spd\": 494, \"trk\": 7, \"vrt\": -1024, \"tmp\": -46, \"wsp\": 41, \"wdi\": 174, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EJU\", \"typ\": \"A319\", \"reg\": \"OE-LQJ\", \"dis\": 94.6, \"dbm\": -72, \"cou\": \"Aust\", \"squ\": \"2271\", \"tru\": 8653, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 32600, \"qnhs\": 1013.6, \"alts\": 31008, \"hdgs\": 0, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 103680234, \"hex\": \"3C5465\", \"fli\": \"DLH1529\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.13393, \"lon\": -0.00129, \"alt\": 37025, \"gda\": \"A\", \"spd\": 447, \"trk\": 108, \"vrt\": 64, \"tmp\": -57, \"wsp\": 74, \"wdi\": 200, \"cat\": \"A3\", \"org\": \"EGAC\", \"dst\": \"EDDF\", \"opr\": \"CLH\", \"typ\": \"E190\", \"reg\": \"D-AECE\", \"dis\": 207.1, \"dbm\": -82, \"cou\": \"Germ\", \"squ\": \"2071\", \"tru\": 7450, \"lla\": 142, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37475, \"qnhs\": 1013.6, \"alts\": 37024, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 142798562, \"hex\": \"4CAD7E\", \"fli\": \"EIN1WM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.42006, \"lon\": -4.62932, \"alt\": 29100, \"gda\": \"A\", \"spd\": 464, \"trk\": 93, \"vrt\": 1024, \"tmp\": -42, \"wsp\": 46, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"EIDW\", \"dst\": \"EGLL\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 229, \"dbm\": -75, \"cou\": \"Irel\", \"squ\": \"4221\", \"tru\": 805, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 29175, \"qnhs\": 1012.8, \"alts\": 32992, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 223121125, \"hex\": \"40653A\", \"fli\": \"EZY84EA\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 54.24463, \"lon\": -3.23248, \"alt\": 37000, \"gda\": \"A\", \"spd\": 413, \"trk\": 158, \"vrt\": 0, \"tmp\": -50, \"wsp\": 49, \"wdi\": 229, \"cat\": \"A3\", \"org\": \"LIRF\", \"dst\": \"EHAM\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 266.4, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"7660\", \"tru\": 1636, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 37200, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 0, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 222903125, \"hex\": \"06A1D0\", \"fli\": \"QQE537\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.75798, \"lon\": -2.11495, \"alt\": 19000, \"gda\": \"A\", \"spd\": 347, \"trk\": 156, \"vrt\": 0, \"tmp\": -20, \"wsp\": 52, \"wdi\": 202, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"QQE\", \"typ\": \"G650\", \"reg\": \"A7-CGL\", \"dis\": 95, \"dbm\": -72, \"cou\": \"Qata\", \"squ\": \"1422\", \"tru\": 3059, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 19225, \"qnhs\": 1013.6, \"alts\": 19008, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178287, \"ns\": 889196531, \"hex\": \"403F73\", \"fli\": \"GFELL\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 4500, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"EUPA\", \"typ\": \"EUPA\", \"reg\": \"G-FELL\", \"dis\": null, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 77, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 302471375, \"hex\": \"896272\", \"fli\": \"DUB4\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.74606, \"lon\": -4.42155, \"alt\": 27025, \"gda\": \"A\", \"spd\": 497, \"trk\": 108, \"vrt\": 0, \"tmp\": -39, \"wsp\": 49, \"wdi\": 218, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"DUB\", \"typ\": \"B744\", \"reg\": \"A6-GGP\", \"dis\": 145.9, \"dbm\": -73, \"cou\": \"UAE \", \"squ\": \"5142\", \"tru\": 5498, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 27075, \"qnhs\": 1013.6, \"alts\": 27008, \"hdgs\": 112, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 349263531, \"hex\": \"4CA4EE\", \"fli\": \"RYR719\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.80389, \"lon\": -0.35233, \"alt\": 21975, \"gda\": \"A\", \"spd\": 414, \"trk\": 326, \"vrt\": -2432, \"tmp\": -26, \"wsp\": 44, \"wdi\": 206, \"cat\": \"A3\", \"org\": \"LFOB\", \"dst\": \"EGBB\", \"opr\": \"RYR\", \"typ\": \"B738\", \"reg\": \"EI-DPJ\", \"dis\": 135.2, \"dbm\": -78, \"cou\": \"Irel\", \"squ\": \"5620\", \"tru\": 1034, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 8, \"sil\": 3, \"sda\": 0, \"altg\": 22375, \"qnhs\": 1013.6, \"alts\": 16992, \"hdgs\": 320, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 334336890, \"hex\": \"440018\", \"fli\": \"EJU94CH\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.47964, \"lon\": -2.54022, \"alt\": 15750, \"gda\": \"A\", \"spd\": 364, \"trk\": 84, \"vrt\": 4160, \"tmp\": -13, \"wsp\": 46, \"wdi\": 193, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EJU\", \"typ\": \"A319\", \"reg\": \"OE-LKP\", \"dis\": 50.5, \"dbm\": -72, \"cou\": \"Aust\", \"squ\": \"7630\", \"tru\": 1893, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 15825, \"qnhs\": 1013.6, \"alts\": 23008, \"hdgs\": 0, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 80983343, \"hex\": \"45AA53\", \"fli\": \"NOZ1820\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.09713, \"lon\": -0.69427, \"alt\": 35025, \"gda\": \"A\", \"spd\": 400, \"trk\": 231, \"vrt\": 64, \"tmp\": -59, \"wsp\": 54, \"wdi\": 197, \"cat\": \"A3\", \"org\": \"ENGM\", \"dst\": \"LPFR\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 144.1, \"dbm\": -84, \"cou\": \"Denm\", \"squ\": \"2254\", \"tru\": 3632, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 35500, \"qnhs\": 1012.8, \"alts\": 35008, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 296803875, \"hex\": \"400DAE\", \"fli\": \"EZY21LR\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.65269, \"lon\": -2.93178, \"alt\": 37025, \"gda\": \"A\", \"spd\": 419, \"trk\": 162, \"vrt\": 64, \"tmp\": -51, \"wsp\": 50, \"wdi\": 229, \"cat\": \"A3\", \"org\": \"LICJ\", \"dst\": \"EGGP\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 197.8, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"6341\", \"tru\": 5576, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 37250, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 0, \"timeRecorded\": 1729178289720 },\n    { \"uti\": 1729178289, \"ns\": 338995171, \"hex\": \"40643D\", \"fli\": \"EZY62RW\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.78915, \"lon\": -2.51275, \"alt\": 34900, \"gda\": \"A\", \"spd\": 406, \"trk\": 204, \"vrt\": 704, \"tmp\": -54, \"wsp\": 38, \"wdi\": 216, \"cat\": \"A3\", \"org\": \"EGGW\", \"dst\": \"LSZH\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZUC\", \"dis\": 236.4, \"dbm\": -78, \"cou\": \"U.K.\", \"squ\": \"5407\", \"tru\": 4409, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 0, \"altg\": 35275, \"qnhs\": 1013.6, \"alts\": 35008, \"hdgs\": 205, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 339265234, \"hex\": \"407DC4\", \"fli\": \"EDC042B\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.29036, \"lon\": -3.50991, \"alt\": 33425, \"gda\": \"A\", \"spd\": 482, \"trk\": 7, \"vrt\": -1344, \"tmp\": -48, \"wsp\": 32, \"wdi\": 195, \"cat\": \"A2\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 107.7, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": \"5503\", \"tru\": 8534, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 33750, \"qnhs\": 1012.8, \"alts\": 31008, \"hdgs\": 6, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 316662734, \"hex\": \"4D0128\", \"fli\": \"CLX38B\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.82823, \"lon\": -0.56684, \"alt\": 35000, \"gda\": \"A\", \"spd\": 454, \"trk\": 112, \"vrt\": 64, \"tmp\": -57, \"wsp\": 72, \"wdi\": 189, \"cat\": \"A5\", \"org\": \"KLAX\", \"dst\": \"ELLX\", \"opr\": \"CLX\", \"typ\": \"B744\", \"reg\": \"LX-SCV\", \"dis\": 120.2, \"dbm\": -74, \"cou\": \"Luxe\", \"squ\": \"1142\", \"tru\": 18858, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 35325, \"qnhs\": 1013.6, \"alts\": 35008, \"hdgs\": 119, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 102746796, \"hex\": \"407AC1\", \"fli\": \"TOM8AW\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.00083, \"lon\": -2.30602, \"alt\": 37000, \"gda\": \"A\", \"spd\": 423, \"trk\": 212, \"vrt\": 0, \"tmp\": -53, \"wsp\": 32, \"wdi\": 223, \"cat\": \"A3\", \"org\": \"EGNX\", \"dst\": \"GCRR\", \"opr\": \"TOM\", \"typ\": \"B38M\", \"reg\": \"G-TUMO\", \"dis\": 212.4, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"2024\", \"tru\": 17482, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 37425, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 213, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 320842453, \"hex\": \"40622D\", \"fli\": \"EZY79ZM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.09819, \"lon\": -1.28481, \"alt\": 22175, \"gda\": \"A\", \"spd\": 342, \"trk\": 195, \"vrt\": 1920, \"tmp\": -26, \"wsp\": 50, \"wdi\": 206, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"LFML\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZTV\", \"dis\": 115.1, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"5211\", \"tru\": 1881, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 22575, \"qnhs\": 1013.6, \"alts\": 30016, \"hdgs\": 0, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178288, \"ns\": 968539078, \"hex\": \"3C70C9\", \"fli\": \"GEC8225\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.71055, \"lon\": -5.65125, \"alt\": 37000, \"gda\": \"A\", \"spd\": 512, \"trk\": 97, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"MMGL\", \"dst\": \"EDDF\", \"opr\": \"GEC\", \"typ\": \"B77L\", \"reg\": \"D-ALFI\", \"dis\": 230.4, \"dbm\": -76, \"cou\": \"Germ\", \"squ\": \"2022\", \"tru\": 2047, \"lla\": 5, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37300, \"qnhs\": 1012.8, \"alts\": 36992, \"hdgs\": 95, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 187042062, \"hex\": \"3C66EA\", \"fli\": \"DLH5NX\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.44469, \"lon\": -1.39864, \"alt\": 38050, \"gda\": \"A\", \"spd\": 450, \"trk\": 281, \"vrt\": 64, \"tmp\": -51, \"wsp\": 33, \"wdi\": 192, \"cat\": \"A3\", \"org\": \"EDDF\", \"dst\": \"EIDW\", \"opr\": \"DLH\", \"typ\": \"A320\", \"reg\": \"D-AIWJ\", \"dis\": 181.1, \"dbm\": -79, \"cou\": \"Germ\", \"squ\": \"2564\", \"tru\": 2795, \"lla\": 3, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38425, \"qnhs\": 1012.8, \"alts\": 38016, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 211922218, \"hex\": \"407F19\", \"fli\": \"VIR135G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.80636, \"lon\": -2.42157, \"alt\": 23800, \"gda\": \"A\", \"spd\": 423, \"trk\": 282, \"vrt\": 1216, \"tmp\": -29, \"wsp\": 69, \"wdi\": 197, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"KMCO\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 13.9, \"dbm\": -70, \"cou\": \"U.K.\", \"squ\": \"6330\", \"tru\": 3462, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 24050, \"qnhs\": 1013.6, \"alts\": 30016, \"hdgs\": 273, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 271148234, \"hex\": \"4CA280\", \"fli\": \"EIN7TE\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.39612, \"lon\": -5.81538, \"alt\": 36000, \"gda\": \"A\", \"spd\": 441, \"trk\": 337, \"vrt\": 0, \"tmp\": -48, \"wsp\": 29, \"wdi\": 7, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-DEJ\", \"dis\": 296.6, \"dbm\": -86, \"cou\": \"Irel\", \"squ\": \"7467\", \"tru\": 3097, \"lla\": 16, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1012.8, \"alts\": 36000, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 294469875, \"hex\": \"407E7D\", \"fli\": \"EXS65Q\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.51227, \"lon\": -0.34772, \"alt\": 37200, \"gda\": \"A\", \"spd\": 450, \"trk\": 326, \"vrt\": -960, \"tmp\": -53, \"wsp\": 44, \"wdi\": 198, \"cat\": \"A3\", \"org\": \"EGNX\", \"dst\": \"GCFV\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 149.6, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"4046\", \"tru\": 6364, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 37600, \"qnhs\": 1013.6, \"alts\": 28000, \"hdgs\": 323, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 265976609, \"hex\": \"4CA2C9\", \"fli\": \"EIN5RL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.59045, \"lon\": -1.34407, \"alt\": 36000, \"gda\": \"A\", \"spd\": 449, \"trk\": 299, \"vrt\": 0, \"tmp\": -54, \"wsp\": 53, \"wdi\": 197, \"cat\": \"A3\", \"org\": \"LFPG\", \"dst\": \"EIDW\", \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-DEP\", \"dis\": 75.7, \"dbm\": -77, \"cou\": \"Irel\", \"squ\": \"5645\", \"tru\": 4740, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 36400, \"qnhs\": 1012.8, \"alts\": 36000, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 292923156, \"hex\": \"3475D9\", \"fli\": \"VLG7CZ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.04951, \"lon\": -1.58913, \"alt\": 31725, \"gda\": \"A\", \"spd\": 389, \"trk\": 156, \"vrt\": 448, \"tmp\": -51, \"wsp\": 96, \"wdi\": 210, \"cat\": \"A3\", \"org\": \"LEMD\", \"dst\": \"LEBL\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 51.9, \"dbm\": -66, \"cou\": \"Spai\", \"squ\": \"0505\", \"tru\": 8195, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 8, \"sil\": 3, \"sda\": 2, \"altg\": 32050, \"qnhs\": 1012.8, \"alts\": 35008, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178286, \"ns\": 850743093, \"hex\": \"40796E\", \"fli\": \"EXS93G\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 11500, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A3\", \"org\": \"LGSA\", \"dst\": \"EGCC\", \"opr\": \"EXS\", \"typ\": \"A321\", \"reg\": \"G-HLYF\", \"dis\": null, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": null, \"tru\": 6, \"lla\": null, \"alr\": 0, \"spi\": false, \"pic\": 11, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 281211187, \"hex\": \"407777\", \"fli\": \"CFE561\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.7741, \"lon\": -1.84633, \"alt\": 36000, \"gda\": \"A\", \"spd\": 472, \"trk\": 330, \"vrt\": 128, \"tmp\": -49, \"wsp\": 23, \"wdi\": 188, \"cat\": \"A3\", \"org\": \"EGLC\", \"dst\": \"EGPH\", \"opr\": \"CFE\", \"typ\": \"E190\", \"reg\": \"G-LCAB\", \"dis\": 209.3, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"5454\", \"tru\": 7314, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 36250, \"qnhs\": 1013.6, \"alts\": 36000, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 191526921, \"hex\": \"407FAE\", \"fli\": \"TOM4ML\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 49.11089, \"lon\": -4.00358, \"alt\": 37000, \"gda\": \"A\", \"spd\": 452, \"trk\": 206, \"vrt\": 0, \"tmp\": -49, \"wsp\": 28, \"wdi\": 286, \"cat\": \"A3\", \"org\": \"EGGD\", \"dst\": \"LEMH\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 333.4, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"7506\", \"tru\": 9794, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 37450, \"qnhs\": 1013.6, \"alts\": 36992, \"hdgs\": 209, \"timeRecorded\": 1729178289721 },\n    { \"uti\": 1729178289, \"ns\": 336080218, \"hex\": \"406D78\", \"fli\": \"BAW243\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.66122, \"lon\": -5.76576, \"alt\": 34000, \"gda\": \"A\", \"spd\": 448, \"trk\": 309, \"vrt\": -192, \"tmp\": -48, \"wsp\": 57, \"wdi\": 355, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"MMMX\", \"opr\": \"BAW\", \"typ\": \"B789\", \"reg\": \"G-ZBKB\", \"dis\": 249, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"6337\", \"tru\": 15353, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": true, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 34150, \"qnhs\": 1012.8, \"alts\": 34016, \"hdgs\": 313, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178287, \"ns\": 865523218, \"hex\": \"346499\", \"fli\": \"IBE31FB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.9463, \"lon\": -1.02745, \"alt\": 13875, \"gda\": \"A\", \"spd\": 371, \"trk\": 45, \"vrt\": -2304, \"tmp\": null, \"wsp\": 29, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"LPPT\", \"dst\": \"LEMD\", \"opr\": \"IBE\", \"typ\": \"A20N\", \"reg\": \"EC-NJY\", \"dis\": 139.5, \"dbm\": -76, \"cou\": \"Spai\", \"squ\": \"7465\", \"tru\": 117, \"lla\": 7, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"pic\": 11, \"altg\": 14375, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 243409859, \"hex\": \"4CA6C4\", \"fli\": \"EIN545\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.28297, \"lon\": -0.27176, \"alt\": 35950, \"gda\": \"A\", \"spd\": 457, \"trk\": 294, \"vrt\": 0, \"tmp\": -59, \"wsp\": 70, \"wdi\": 187, \"cat\": \"A3\", \"org\": \"LFMN\", \"dst\": \"EIDW\", \"opr\": \"EIN\", \"typ\": \"A320\", \"reg\": \"EI-DVI\", \"dis\": 157.4, \"dbm\": -79, \"cou\": \"Irel\", \"squ\": \"4066\", \"tru\": 589, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 10, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 36400, \"qnhs\": 1012.8, \"alts\": 36000, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178288, \"ns\": 777316140, \"hex\": \"401829\", \"fli\": \"GAXJX\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 2300, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": null, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"P28A\", \"typ\": \"P28A\", \"reg\": \"G-AXJX\", \"dis\": null, \"dbm\": -77, \"cou\": \"U.K.\", \"squ\": \"4531\", \"tru\": 38, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 222103296, \"hex\": \"C01755\", \"fli\": \"ACA857\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.54193, \"lon\": -0.74532, \"alt\": 22625, \"gda\": \"A\", \"spd\": 487, \"trk\": 344, \"vrt\": 1920, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"CYYZ\", \"opr\": \"ACA\", \"typ\": \"B77W\", \"reg\": \"C-FIVS\", \"dis\": 127.7, \"dbm\": -72, \"cou\": \"Cana\", \"squ\": \"1476\", \"tru\": 1188, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 22925, \"qnhs\": 1012.8, \"alts\": 30016, \"hdgs\": 325, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 335181093, \"hex\": \"4CAE8D\", \"fli\": \"RYR49CL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.59873, \"lon\": -3.62785, \"alt\": 35000, \"gda\": \"A\", \"spd\": 434, \"trk\": 102, \"vrt\": 0, \"tmp\": -50, \"wsp\": 44, \"wdi\": 216, \"cat\": \"A3\", \"org\": \"EICK\", \"dst\": \"EGGW\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 96.9, \"dbm\": -73, \"cou\": \"Irel\", \"squ\": \"6352\", \"tru\": 9202, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 35275, \"qnhs\": 1013.6, \"alts\": 35008, \"hdgs\": 105, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 218730515, \"hex\": \"40123F\", \"fli\": \"SHT7H\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.79461, \"lon\": -2.10176, \"alt\": 34325, \"gda\": \"A\", \"spd\": 416, \"trk\": 153, \"vrt\": -1792, \"tmp\": -49, \"wsp\": 71, \"wdi\": 210, \"cat\": \"A3\", \"org\": \"EGPF\", \"dst\": \"EGLL\", \"opr\": \"BAW\", \"typ\": \"A320\", \"reg\": \"G-EUUS\", \"dis\": 99.1, \"dbm\": -74, \"cou\": \"U.K.\", \"squ\": \"1170\", \"tru\": 10040, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 34675, \"qnhs\": 1012.8, \"alts\": 20000, \"hdgs\": 160, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 240595703, \"hex\": \"40666A\", \"fli\": \"EZY834E\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.53843, \"lon\": -1.18762, \"alt\": 22350, \"gda\": \"A\", \"spd\": 394, \"trk\": 326, \"vrt\": -2560, \"tmp\": -29, \"wsp\": 53, \"wdi\": 194, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZUP\", \"dis\": 103.5, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"7460\", \"tru\": 12371, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 22775, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 320, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 339750437, \"hex\": \"407E7B\", \"fli\": \"TOM4XV\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.52666, \"lon\": -3.27326, \"alt\": 36000, \"gda\": \"A\", \"spd\": 480, \"trk\": 7, \"vrt\": 0, \"tmp\": -48, \"wsp\": 26, \"wdi\": 186, \"cat\": \"A3\", \"org\": \"GCRR\", \"dst\": \"EGNT\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 78.7, \"dbm\": -69, \"cou\": \"U.K.\", \"squ\": \"7463\", \"tru\": 9560, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 36300, \"qnhs\": 1013.6, \"alts\": 36000, \"hdgs\": 6, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 232820703, \"hex\": \"440A8D\", \"fli\": \"TAY7044\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.75939, \"lon\": -1.86456, \"alt\": 32000, \"gda\": \"A\", \"spd\": 488, \"trk\": 296, \"vrt\": 0, \"tmp\": -52, \"wsp\": 73, \"wdi\": 202, \"cat\": \"A5\", \"org\": null, \"dst\": null, \"opr\": \"TAY\", \"typ\": \"B744\", \"reg\": \"OE-IFK\", \"dis\": 35.2, \"dbm\": -65, \"cou\": \"Aust\", \"squ\": \"4106\", \"tru\": 6606, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 32200, \"qnhs\": 1013.6, \"alts\": 32000, \"hdgs\": 288, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 347739937, \"hex\": \"449CA5\", \"fli\": \"OOGEE\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.41939, \"lon\": -0.74638, \"alt\": 28550, \"gda\": \"A\", \"spd\": 307, \"trk\": 319, \"vrt\": -576, \"tmp\": -40, \"wsp\": 82, \"wdi\": 199, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PC12\", \"typ\": \"PC12\", \"reg\": \"OO-GEE\", \"dis\": 120.8, \"dbm\": -73, \"cou\": \"Belg\", \"squ\": \"7341\", \"tru\": 4138, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": true, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 29000, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 300, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 298017390, \"hex\": \"407178\", \"fli\": \"EXS41UN\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.17572, \"lon\": -0.64659, \"alt\": 34600, \"gda\": \"A\", \"spd\": 499, \"trk\": 330, \"vrt\": -960, \"tmp\": -59, \"wsp\": 72, \"wdi\": 187, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": \"EXS\", \"typ\": \"B738\", \"reg\": \"G-JZBK\", \"dis\": 117.7, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"2773\", \"tru\": 5287, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 35000, \"qnhs\": 1013.6, \"alts\": 28992, \"hdgs\": 325, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 332291921, \"hex\": \"4CAE52\", \"fli\": \"RYR95VB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.77889, \"lon\": -1.36818, \"alt\": 21300, \"gda\": \"A\", \"spd\": 299, \"trk\": 168, \"vrt\": 896, \"tmp\": -25, \"wsp\": 60, \"wdi\": 212, \"cat\": \"A3\", \"org\": \"EGBB\", \"dst\": \"GCTS\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 66.6, \"dbm\": -67, \"cou\": \"Irel\", \"squ\": \"2066\", \"tru\": 4170, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 21600, \"qnhs\": 1013.6, \"alts\": 22016, \"hdgs\": 175, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 238442375, \"hex\": \"4CAC56\", \"fli\": \"RYR37PZ\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.2457, \"lon\": -2.71927, \"alt\": 32000, \"gda\": \"A\", \"spd\": 493, \"trk\": 18, \"vrt\": 0, \"tmp\": -49, \"wsp\": 89, \"wdi\": 171, \"cat\": \"A3\", \"org\": \"LEMD\", \"dst\": \"EGPH\", \"opr\": \"RYR\", \"typ\": \"B38M\", \"reg\": \"EI-HGT\", \"dis\": 150.7, \"dbm\": -80, \"cou\": \"Irel\", \"squ\": \"7456\", \"tru\": 22586, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 32150, \"qnhs\": 1013.6, \"alts\": 32000, \"hdgs\": 23, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 330012656, \"hex\": \"407F42\", \"fli\": \"EAG5DB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.22762, \"lon\": -2.99456, \"alt\": 18000, \"gda\": \"A\", \"spd\": 305, \"trk\": 332, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A2\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 153.2, \"dbm\": -78, \"cou\": \"U.K.\", \"squ\": \"5156\", \"tru\": 20098, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 18075, \"qnhs\": 1013.6, \"alts\": 18016, \"timeRecorded\": 1729178289722 },\n    { \"uti\": 1729178289, \"ns\": 349739828, \"hex\": \"4932A1\", \"fli\": \"NJE026G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.57019, \"lon\": -2.13825, \"alt\": 41000, \"gda\": \"A\", \"spd\": 445, \"trk\": 109, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A2\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": \"CS-LUA\", \"dis\": 39.9, \"dbm\": -75, \"cou\": \"Port\", \"squ\": \"2065\", \"tru\": 7268, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 41425, \"qnhs\": 1013.6, \"alts\": 40992, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 219553906, \"hex\": \"406D90\", \"fli\": \"EZY85FB\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.88905, \"lon\": -1.96701, \"alt\": 32300, \"gda\": \"A\", \"spd\": 349, \"trk\": 152, \"vrt\": -960, \"tmp\": -54, \"wsp\": 85, \"wdi\": 198, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"LSGG\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZOK\", \"dis\": 111.1, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"1140\", \"tru\": 9016, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 32575, \"qnhs\": 1013.6, \"alts\": 20000, \"hdgs\": 160, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 344789843, \"hex\": \"406CDD\", \"fli\": \"TOM37G\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.74641, \"lon\": -1.56197, \"alt\": 23400, \"gda\": \"A\", \"spd\": 375, \"trk\": 213, \"vrt\": 1600, \"tmp\": -28, \"wsp\": 56, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"EGBB\", \"dst\": \"LIMJ\", \"opr\": \"AWC\", \"typ\": \"A320\", \"reg\": \"G-POWM\", \"dis\": 139.7, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"5414\", \"tru\": 1181, \"lla\": 4, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 3, \"altg\": 23700, \"qnhs\": 1012.8, \"alts\": 32992, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 322476546, \"hex\": \"408052\", \"fli\": \"EZY3020\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.07645, \"lon\": -6.38133, \"alt\": 38000, \"gda\": \"A\", \"spd\": 431, \"trk\": 2, \"vrt\": 64, \"tmp\": -52, \"wsp\": 16, \"wdi\": 3, \"cat\": \"A3\", \"org\": null, \"dst\": null, \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 278.9, \"dbm\": -75, \"cou\": \"U.K.\", \"squ\": \"4461\", \"tru\": 3283, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 38375, \"qnhs\": 1013.6, \"alts\": 38016, \"hdgs\": 0, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 273274796, \"hex\": \"4D2104\", \"fli\": \"AXY396V\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 50.16687, \"lon\": -2.16749, \"alt\": 27025, \"gda\": \"A\", \"spd\": 365, \"trk\": 204, \"vrt\": 512, \"tmp\": -35, \"wsp\": 67, \"wdi\": 224, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"AXY\", \"typ\": \"CL85\", \"reg\": \"9H-BOO\", \"dis\": 194.2, \"dbm\": -82, \"cou\": \"Malt\", \"squ\": \"7704\", \"tru\": 139, \"lla\": 12, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 27350, \"qnhs\": 1012.8, \"alts\": 32992, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 326941203, \"hex\": \"406118\", \"fli\": \"GZPPY\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.81418, \"lon\": -1.96175, \"alt\": 3250, \"gda\": \"A\", \"spd\": 71, \"trk\": 50, \"vrt\": 256, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"PA18\", \"typ\": \"PA18\", \"reg\": \"G-ZPPY\", \"dis\": 26.5, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 3416, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 3400, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 113674687, \"hex\": \"AAC6EE\", \"fli\": \"AAL735\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.19054, \"lon\": -6.9575, \"alt\": 35800, \"gda\": \"A\", \"spd\": 438, \"trk\": 304, \"vrt\": 640, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A5\", \"org\": \"EGLL\", \"dst\": \"KCLT\", \"opr\": \"AAL\", \"typ\": \"B772\", \"reg\": \"N794AN\", \"dis\": 344.5, \"dbm\": -82, \"cou\": \"USA \", \"squ\": \"7023\", \"tru\": 13710, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 36075, \"qnhs\": 1012.8, \"alts\": 36000, \"hdgs\": 308, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 77391812, \"hex\": \"407501\", \"fli\": \"GKYLA\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.56767, \"lon\": -2.39636, \"alt\": 3275, \"gda\": \"A\", \"spd\": 170, \"trk\": 101, \"vrt\": 64, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"SR22\", \"typ\": \"SR22\", \"reg\": \"G-KYLA\", \"dis\": 38.7, \"dbm\": -73, \"cou\": \"U.K.\", \"squ\": \"3712\", \"tru\": 10928, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 12, \"nacp\": 10, \"sil\": 3, \"sda\": 2, \"altg\": 3400, \"qnhs\": 1009.6, \"alts\": 3200, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 264558281, \"hex\": \"4CAE84\", \"fli\": \"TOM49K\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.21522, \"lon\": -1.55339, \"alt\": 8100, \"gda\": \"A\", \"spd\": 274, \"trk\": 154, \"vrt\": 3136, \"tmp\": 1, \"wsp\": 29, \"wdi\": 227, \"cat\": \"A3\", \"org\": \"EFKT\", \"dst\": \"EGKK\", \"opr\": null, \"typ\": null, \"reg\": null, \"dis\": 61.9, \"dbm\": -73, \"cou\": \"Irel\", \"squ\": \"5257\", \"tru\": 552, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 8150, \"qnhs\": 1013.6, \"alts\": 19008, \"hdgs\": 160, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 346857109, \"hex\": \"40764F\", \"fli\": \"GFLXI\", \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 4000, \"gda\": \"A\", \"spd\": null, \"trk\": null, \"vrt\": -192, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"PC12\", \"typ\": \"PC12\", \"reg\": \"G-FLXI\", \"dis\": null, \"dbm\": -72, \"cou\": \"U.K.\", \"squ\": \"3710\", \"tru\": 100, \"lla\": null, \"alr\": 0, \"spi\": false, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 258545109, \"hex\": \"4D22A6\", \"fli\": null, \"src\": \"?\", \"ava\": \"\", \"lat\": null, \"lon\": null, \"alt\": 8975, \"gda\": \"A\", \"spd\": 285, \"trk\": 302, \"vrt\": 0, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": null, \"org\": null, \"dst\": null, \"opr\": \"SCO\", \"typ\": \"CL35\", \"reg\": \"9H-EDT\", \"dis\": null, \"dbm\": -82, \"cou\": \"Malt\", \"squ\": \"7020\", \"tru\": 5, \"lla\": null, \"alr\": 0, \"spi\": false, \"pic\": 11, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178286, \"ns\": 954848812, \"hex\": \"4076B1\", \"fli\": \"TOM88K\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.26567, \"lon\": -6.99951, \"alt\": 36000, \"gda\": \"A\", \"spd\": 463, \"trk\": 213, \"vrt\": 0, \"tmp\": -51, \"wsp\": 94, \"wdi\": 312, \"cat\": \"A3\", \"org\": \"EGNT\", \"dst\": \"GCLP\", \"opr\": \"TOM\", \"typ\": \"B738\", \"reg\": \"G-TAWX\", \"dis\": 322.4, \"dbm\": -80, \"cou\": \"U.K.\", \"squ\": \"4223\", \"tru\": 4914, \"lla\": 17, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1013.6, \"alts\": 36000, \"hdgs\": 222, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 343223078, \"hex\": \"406FD8\", \"fli\": \"EZY76UM\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 51.82562, \"lon\": -0.82709, \"alt\": 38000, \"gda\": \"A\", \"spd\": 475, \"trk\": 358, \"vrt\": 0, \"tmp\": -54, \"wsp\": 42, \"wdi\": 209, \"cat\": \"A3\", \"org\": \"EGKK\", \"dst\": \"GMMX\", \"opr\": \"EZY\", \"typ\": \"A320\", \"reg\": \"G-EZPB\", \"dis\": 102.5, \"dbm\": -71, \"cou\": \"U.K.\", \"squ\": \"5557\", \"tru\": 8456, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38475, \"qnhs\": 1013.6, \"alts\": 38016, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 29502421, \"hex\": \"43EE32\", \"fli\": \"2COOL\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 52.09377, \"lon\": -2.1144, \"alt\": 1875, \"gda\": \"A\", \"spd\": 248, \"trk\": 150, \"vrt\": -320, \"tmp\": null, \"wsp\": null, \"wdi\": null, \"cat\": \"A1\", \"org\": null, \"dst\": null, \"opr\": \"P180\", \"typ\": \"P180\", \"reg\": \"2-COOL\", \"dis\": 24.4, \"dbm\": -82, \"cou\": \"U.K.\", \"squ\": \"7000\", \"tru\": 10792, \"lla\": 1, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 0, \"ape\": false, \"pic\": 11, \"nacp\": 11, \"sil\": 3, \"sda\": 2, \"altg\": 1950, \"qnhs\": 1010.4, \"alts\": 2016, \"hdgs\": 110, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178289, \"ns\": 328903171, \"hex\": \"3C66A7\", \"fli\": \"DLH3WT\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.59298, \"lon\": -2.71726, \"alt\": 37950, \"gda\": \"A\", \"spd\": 443, \"trk\": 279, \"vrt\": 128, \"tmp\": -50, \"wsp\": 21, \"wdi\": 237, \"cat\": \"A3\", \"org\": \"EDDM\", \"dst\": \"EIDW\", \"opr\": \"DLH\", \"typ\": \"A320\", \"reg\": \"D-AIUG\", \"dis\": 188.8, \"dbm\": -76, \"cou\": \"Germ\", \"squ\": \"6650\", \"tru\": 8056, \"lla\": 0, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"altg\": 38250, \"qnhs\": 1012.8, \"alts\": 38016, \"timeRecorded\": 1729178289723 },\n    { \"uti\": 1729178288, \"ns\": 46543078, \"hex\": \"400B82\", \"fli\": \"SHT8A\", \"src\": \"A\", \"ava\": \"A\", \"lat\": 53.62038, \"lon\": -1.9394, \"alt\": 26000, \"gda\": \"A\", \"spd\": 441, \"trk\": 333, \"vrt\": -64, \"tmp\": -36, \"wsp\": 74, \"wdi\": 188, \"cat\": \"A3\", \"org\": \"EGLL\", \"dst\": \"EGPH\", \"opr\": \"BAW\", \"typ\": \"A319\", \"reg\": \"G-DBCD\", \"dis\": 191.5, \"dbm\": -79, \"cou\": \"U.K.\", \"squ\": \"5451\", \"tru\": 5882, \"lla\": 2, \"mop\": 2, \"alr\": 0, \"spi\": false, \"tcm\": 1, \"ape\": false, \"pic\": 11, \"nacp\": 9, \"sil\": 3, \"sda\": 2, \"qnhs\": 1012.8, \"alts\": 26016, \"timeRecorded\": 1729178289724 }\n];\n\nconst config = {\n    messagesPerSecond: 1,  \n    loop: true,           \n    randomOrder: false    \n};\n\n// Initialize counter\nif (!context.counter) {\n    context.counter = 0;\n    context.lastSend = 0;\n}\n\n// Get next message\nlet msgIndex;\nif (config.randomOrder) {\n    msgIndex = Math.floor(Math.random() * flightData.length);\n} else {\n    msgIndex = context.counter % flightData.length;\n    context.counter++;\n}\n\n// Prepare message\nconst message = flightData[msgIndex];\n\n// Set up next trigger if looping\nif (config.loop) {\n    const now = Date.now();\n    const delay = 1000 / config.messagesPerSecond;\n    \n    if (now - context.lastSend >= delay) {\n        context.lastSend = now;\n        return { payload: JSON.stringify(message) };\n    } else {\n        node.send(null); // Skip this cycle\n        return null;\n    }\n}\n\nreturn { payload: JSON.stringify(message) };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 390,
        "y": 140,
        "wires": [
            [
                "93fd212bef2754c8"
            ]
        ]
    },
    {
        "id": "93fd212bef2754c8",
        "type": "udp out",
        "z": "e296efd7db3fec42",
        "g": "146e6bf1de0e6a87",
        "name": "UDP Output",
        "addr": "127.0.0.1",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "outport": "",
        "base64": false,
        "multicast": "false",
        "x": 750,
        "y": 140,
        "wires": []
    },
    {
        "id": "032cd8917b3e02bc",
        "type": "comment",
        "z": "e296efd7db3fec42",
        "g": "146e6bf1de0e6a87",
        "name": "Simulate Jetvision, send data to UDP PORT 5005",
        "info": "",
        "x": 220,
        "y": 80,
        "wires": []
    },
    {
        "id": "aba9d3df646d7a12",
        "type": "udp in",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "UDP IN (JETVISION IN)",
        "iface": "",
        "port": "5005",
        "ipv": "udp4",
        "multicast": "false",
        "group": "",
        "datatype": "utf8",
        "x": 180,
        "y": 480,
        "wires": [
            [
                "3dd8f8f5bd4e98dc",
                "3a0b0c5bb145c4ad"
            ]
        ]
    },
    {
        "id": "bdcceeaf976af4ba",
        "type": "seller config",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "Jetvision seller config",
        "deviceRole": "Home Sensor",
        "deviceName": "Jetvision",
        "smartContract": "jetvision",
        "serialNumber": "serial number",
        "deviceType": "Sensor",
        "price": "1",
        "description": "",
        "evmAddress": "EVM address not initialized yet",
        "balance": "Not initialized yet",
        "buyerEvmAddress": [],
        "buyerDevices": [],
        "publicKey": "Not initialized yet",
        "stdInTopic": "StdIn topic not initialized yet",
        "stdOutTopic": "StdOut topic not initialized yet",
        "stdErrTopic": "StdErr topic not initialized yet",
        "x": 200,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "3dd8f8f5bd4e98dc",
        "type": "neuron-p2p",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "",
        "selectedNode": "",
        "description": "",
        "x": 700,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "7eba1b26febdd5c9",
        "type": "comment",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "seller listening to local udp  5005 and sends data to all connected buyers",
        "info": "",
        "x": 360,
        "y": 320,
        "wires": []
    },
    {
        "id": "7cf43dbc3e3be348",
        "type": "comment",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "[ACTION] Double click and select \"Jetvision Seller Config\"",
        "info": "",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "fb4ba726a58bfa10",
        "type": "ui_worldmap",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "group": "4eb2894bf837a945",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "lat": "",
        "lon": "",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "hide",
        "layers": "hide",
        "panit": "true",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "true",
        "coords": "none",
        "showgrid": "false",
        "showruler": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 960,
        "y": 560,
        "wires": []
    },
    {
        "id": "248e42982e5ddb7f",
        "type": "function",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "Translate to worldmap data format",
        "func": "var bearing = msg.payload.hdgs;\nif (!bearing) {\n    bearing = msg.payload.trk;\n}\nmsg.payload = {\n    name: msg.payload.hex,\n    lat: msg.payload.lat,\n    lon: msg.payload.lon,\n    icon: \"plane\",\n    iconSize: 32,\n    label: msg.payload.fli,\n    bearing: bearing,\n    speed: msg.payload.spd,\n    alt: msg.payload.alt,\n}\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 560,
        "wires": [
            [
                "fb4ba726a58bfa10"
            ]
        ]
    },
    {
        "id": "3a0b0c5bb145c4ad",
        "type": "json",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 250,
        "y": 560,
        "wires": [
            [
                "248e42982e5ddb7f"
            ]
        ]
    },
    {
        "id": "5ee193a622d9fb64",
        "type": "comment",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "View map -  http://localhost:1880/worldmap/",
        "info": "",
        "x": 970,
        "y": 520,
        "wires": []
    },
    {
        "id": "8770e38c6f497988",
        "type": "comment",
        "z": "e296efd7db3fec42",
        "g": "26b7cbbae9b236de",
        "name": "[ACTION] Double click and update your JETVISION port",
        "info": "",
        "x": 200,
        "y": 440,
        "wires": []
    },
    {
        "id": "4eb2894bf837a945",
        "type": "ui_group",
        "name": "Default",
        "tab": "ef656de5cefe0a4d",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "ef656de5cefe0a4d",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]